<div class="main">
  <form class="pure-form pure-form-stacked" action="{{formAction}}" method="post">
    <input type="hidden" name="_id" value="{{organisation._id}}" />
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <h1>{{__ "Setup your Wingzy"}}</h1>
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-2">
        <div class="grid-box">
          <a class="pure-button back-button scale" href="{{url 'invite' organisation.tag}}">{{__ "Invite users"}}</a>
        </div>
      </div>
      <div class="pure-u-1-2">
        <div class="grid-box">
          <a class="pure-button back-button scale" href="{{url 'admin/user/list' organisation.tag}}">{{__ "List of users"}}</a>
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <label for="canInvite">
            <input id="canInvite" name="canInvite" type="checkbox" value='canInvite' {{#if organisation.canInvite}}checked{{/if}}> {{__ "People can invite others"}}
          </label>
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          {{> form_errors}}
          <label for="tag">{{__ "Tag"}}</label>
          <input class="pure-input-1" id="tag" name="tag" type="text" value="{{organisation.tag}}" {{#unless isSuperAdmin}}disabled=""{{/unless}}>
          <label for="name">{{__ "Name"}}</label>
          <input class="pure-input-1" id="name" name="name" type="text" value="{{{organisation.name}}}">
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="grid-box uploadcare-box">
          <label for="logo">{{__ "Square logo"}}</label>
          <input id="logo" type="hidden" role="uploadcare-uploader" name="logo[url]" data-crop="120x120 minimum" value="{{organisation.logo.url}}"/>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="grid-box uploadcare-box">
          <label for="cover">{{__ "Default Cover"}}</label>
          <input id="cover" type="hidden" role="uploadcare-uploader" name="cover[url]" data-crop="1280x960 upscale" data-image-shrink="1280x1280" value="{{organisation.cover.url}}"/>
        </div>
      </div>
    </div>
    {{#if activeCodes.length}}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <h2>{{__ "Invitation Links"}}</h2>
          <p>{{{__ "Share these links to invite people to join your Wingzy. <a href='mailto:contact@wingzy.io'>Contact us to create a link</a>."}}}</p>
          <table class="pure-table pure-table-horizontal">
            <thead>
              <tr>
                <th>{{__ 'Link'}}</th>
                <th>{{__ 'Expires'}}</th>
              </tr>
            </thead>

            <tbody>
            {{#activeCodes}}
              <tr>
                  <td>{{link}}</td>
                  <td>{{formatDate ends day="numeric" month="long" year="numeric"}}</td>
              </tr>
            {{/activeCodes}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {{/if}}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <h2>{{__ "Authorized Domains"}}</h2>
          <p>{{{__ "People who have an email or google account in these domain can join your Wingzy. <a href='mailto:contact@wingzy.io'>Contact us to change them</a>."}}}</p>
          <ul>
            <li>
              <strong>{{__ "Email Domains:"}}</strong>
              {{#if organisation.email.domains.length}}
                {{#organisation.email.domains}}{{this}} {{/organisation.email.domains}}
              {{else}}
                {{__ "None"}}
              {{/if}}
            </li>
            <li>
              <strong>{{__ "Google Domains:"}}</strong>
              {{#if organisation.google.hd.length }}
                {{#organisation.google.hd}}{{this}} {{/organisation.google.hd}}
              {{else}}
                {{__ "None"}}
              {{/if}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    {{#if isSuperAdmin}}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <label for="css">{{__ "Custom CSS"}}</label>
          <textarea id="css" name="css" class="pure-input-1">{{organisation.style.css}}</textarea>
        </div>
      </div>
    </div>
    {{/if}}
    {{#if isSuperAdmin}}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <h2>Danger</h2>
          <p><a href="{{url "admin/record/remake/" organisation.tag}}" onclick="return confirm('This action can break your directory. Are you sure?')"><i class="fa fa-refresh" aria-hidden="true"></i> Remake</a> Rebuild every records in your directory and update search engine.</p>
          <p><a href="{{url "admin/record/recount/" organisation.tag}}" onclick="return confirm('This action can break your directory. Are you sure?')"><i class="fa fa-refresh" aria-hidden="true"></i> Recount</a> Recount every Wings in your directory and update search engine.</p>
        </div>
      </div>
    </div>
    {{/if}}
    <div class="bottom-buttons">
      <div class="pure-g">
        <div class="pure-u-1-2 pure-u-md-1-3">
          <div class="grid-box">
            <a class="pure-button scale back-button" href="{{backUrl}}">{{{__ "Back"}}}</a>
          </div>
        </div>
        <div class="pure-u-1-2 pure-u-md-2-3">
          <div class="grid-box">
            <button type="submit" class="pure-button scale">{{{__ "Save"}}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  {{> jquery}}
  {{> uploadcare_script}}
</div>
