<div class="main">
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="grid-box">
        <a class="pure-button scale" href="{{url 'invite' organisation.tag}}">{{__ "Invite Coworker by email"}}</a>
      </div>
    </div>
  </div>
  <form class="pure-form pure-form-stacked" action="{{formAction}}" method="post">
    <input type="hidden" name="_id" value="{{organisation._id}}" />
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          {{> form_errors}}
          <label for="tag">{{__ "Tag"}}</label>
          <input class="pure-input-1" id="tag" name="tag" type="text" value="{{organisation.tag}}">
          <label for="name">{{__ "Name"}}</label>
          <input class="pure-input-1" id="name" name="name" type="text" value="{{organisation.name}}">
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <label for="logo">{{__ "Small square logo"}}</label>
          <input class="pure-input-1" id="logo" name="logo[url]" type="url" value="{{organisation.logo.url}}">
          <label for="picture">{{__ "Large logo"}}</label>
          <input class="pure-input-1" id="picture" name="picture[url]" type="url" value="{{organisation.picture.url}}">
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <label for="canInvite">
            <input id="canInvite" name="canInvite" type="checkbox" {{#if organisation.canInvite}}checked{{/if}}> {{__ "People can invite others"}}
          </label>
        </div>
      </div>
    </div>
    <div class="bottom-buttons">
      <div class="pure-g">
        <div class="pure-u-1-2 pure-u-md-1-3">
          <div class="grid-box">
            <a class="pure-button scale back-button" href="{{backUrl}}">{{{__ "Back"}}}</a>
          </div>
        </div>
        <div class="pure-u-1-2 pure-u-md-2-3">
          <div class="grid-box">
            <button type="submit" class="pure-button scale">{{{__ "Save"}}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="grid-box">
        <h2>Danger</h2>
        <p><a href="{{url "admin/record/remake/" organisation.tag}}" onclick="return confirm('This action can break your directory. Are you sure?')"><i class="fa fa-refresh" aria-hidden="true"></i> Remake</a> Rebuild every records in your directory and update search engine.</p>
      </div>
    </div>
  </div>
  <div class="illustration cat">
  </div>
</div>
