<div class="main">
  <div class="pure-g">
    <div class="pure-u-1">
      <h1 class="tagline">Directory Update From CSV</h1>
      <p>Your CSV file has been uploaded and read. These are the results for all lines with action "<strong>write</strong>"</p>
      <h2>Do not forget to run <strong>remake</strong> to build the hashtags</h2>
    </div>
  </div>
  {{#if created}}
  <div class="pure-g">
    <div class="pure-u-1-6">
      <h1 class="reward"><i class="fa fa-plus-circle" aria-hidden="true"></i></h1>
    </div>
    <div class="pure-u-5-6">
      <h2>Created</h2>
      <p>The Following {{created.length}} records have been added to your directory.</p>
      <p>
        {{#each created}}
          {{{tagLink this}}},
        {{/each}}
      </p>
    </div>
  </div>
  {{/if}}
  {{#if updated}}
  <div class="pure-g">
    <div class="pure-u-1-6">
      <h1 class="reward"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></h1>
    </div>
    <div class="pure-u-5-6">
      <h2>Updated</h2>
      <p>The Following {{updated.length}} records have been updated in your directory.</p>
      <p>
        {{#each updated}}
          {{{tagLink this}}},
        {{/each}}
      </p>
    </div>
  </div>
  {{/if}}
  {{#if deleted}}
  <div class="pure-g">
    <div class="pure-u-1-6">
      <h1 class="reward"><i class="fa fa-minus-circle" aria-hidden="true"></i></h1>
    </div>
    <div class="pure-u-5-6">
      <h2>Deleted</h2>
      <p>The Following {{deleted.length}} items have been removed from your directory.</p>
      <p>
        {{#each deleted}}
          {{{tagLink this}}},
        {{/each}}
      </p>
    </div>
  </div>
  {{/if}}
  {{#if errors}}
  <div class="pure-g">
    <div class="pure-u-1-6">
      <h1 class="reward"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h1>
    </div>
    <div class="pure-u-5-6">
      <h2>Errors</h2>
      <p>There have been {{errors.length}} errors.</p>
        {{#each deleted}}
        <p>{{this}}</p>
        {{/each}}
    </div>
  </div>
  {{/if}}
</div>
