<footer>
  <div class="pure-g">
    <a class="pure-u-footer-logo pure-u-1-6" href="{{homeUrl}}">
      <div>
        <img class="pure-img" src="/wingzy_white.png">
      </div>
    </a>
    <div class="pure-u-footer-menu pure-u-2-3">
      <div>
          <p>{{{__ 'Wingzy is the obvious app to share what we are good at and love doing with our coworkers'}}}</p>
          <a title="{{__ "Learn more"}}" href="{{url null null}}">{{__ "Learn more"}}</a>
          <a title="{{__ "Terms of Service"}}" href="{{url "terms" null}}">{{__ "Terms of Service"}}</a>
          <a title="{{__ "Privacy Policy"}}" href="{{url "privacy" null}}">{{__ "Privacy Policy"}}</a>
          <a title="{{__ "Contact us"}}" href="mailto:contact@wingzy.io">{{__ "Contact us"}}</a>
      </div>
    </div>
    <a class="pure-u-footer-twitter pure-u-1-6" href="https://twitter.com/Wingzy_io">
      <div>
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
    </a>
  </div>
</footer>
