<footer>
  <div class="row">

    <div class="col m4 s10 offset-s1 wingzy-description">
      <h5>
        <img src="/wingzy_line_256.png" alt="Wingzy line" />
      </h5>
      <p>
        {{{__ "The smart directory which reveals your company's talents."}}}
      </p>
    </div>
    <div class="col m4 s10 offset-s1 wingzy-contact">
      <h5>CONTACT</h5>
      <p>
        {{{__ "WINGZY SAS<br/>8 rue du faubourg poissonière<br/>75010 PARIS"}}}
        <br />
        <a href="mailto:{{{__ "contact@wingzy.com"}}}">{{{__ "contact@wingzy.com"}}}</a>
      </p>
    </div>
    <div class="col m4 s10 offset-s1 wingzy-follow">
      <h5>{{{__ "FOLLOW US"}}}</h5>
      <div>
        <a href="https://www.linkedin.com/company/wingzy/" target="_blank"><i class="fa fa-linkedin-square"
            aria-hidden="true"></i></a>
        <a href="https://twitter.com/Wingzy_com" target="_blank"><i class="fa fa-twitter-square"
            aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/wingzy.io/" target="_blank"><i class="fa fa-facebook-square"
            aria-hidden="true"></i></a>
      </div>
    </div>

  </div>
</footer>