<footer>
  <div class="pure-g">
  </div>
  <div class="pure-g">
    <a class="pure-u-footer-logo pure-u-1-4 pure-u-md-1-6" href="{{homeUrl}}">
      <div>
        <img class="pure-img" src="/wingzy_white.png">
      </div>
    </a>
    <div class="pure-u-footer-menu pure-u-1-2 pure-u-md-2-3">
      <div>
          <p>{{__ "Search for, discover and contact your coworkers by skills and passions with Wingzy."}}</p>
          <a title="{{__ "Learn more"}}" href="{{url "why" null}}">{{__ "Learn more"}}</a>
          <a title="{{__ "Terms of Service"}}" href="{{url "terms" null}}">{{__ "Terms of Service"}}</a>
          <a title="{{__ "Privacy Policy"}}" href="{{url "privacy" null}}">{{__ "Privacy Policy"}}</a>
          <a title="{{__ "Contact us"}}" href="mailto:contact@wingzy.io">{{__ "Contact us"}}</a>
      </div>
    </div>
    <a class="pure-u-footer-twitter pure-u-1-4 pure-u-md-1-6" href="https://twitter.com/Wingzy_io">
      <div>
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
    </a>
  </div>
</footer>
