{{! WARNING DUPLICATED IN AUTOCOMPLETE JS : addHashtagToCloud() !!!}}
{{#if editable}}
<li class="cloud-element hashtag{{#if added}} added{{/if}}">
  {{{picture this}}}<span>{{name}}</span><a class="js-remove">&times;</a>
  <input type="hidden" name="hashtags" value="{{_id}}" />
</li>
{{else}}
<a href="/{{tag}}" class="cloud-element hashtag{{#if added}} added{{/if}}">
  {{{picture this}}}<span>{{name}}</span>
</a>
{{/if}}
