<header {{{coverStyle coverUrl}}}>
{{#if search}}
<div class="pure-g search-on">
  <a title="{{__ 'Go back home'}}" class="pure-u-logo pure-u-md-1-6 pure-u-xl-1-4" href="{{homeUrl organisation}}">
    <div>
      {{{logo organisation}}}
    </div>
  </a>
  <div class="pure-u-search pure-u-5-6 pure-u-md-4-6 pure-u-xl-1-2">
    <div id="search" class="search-input-box pure-form">
      {{#if searchInput}}<input type="text" placeholder="{{__ 'Search'}}" value="{{searchQuery}}">{{/if}}
      <i id="search-input-icon" class="fa fa-search scale" aria-hidden="true"></i>
    </div>
  </div>
  <div class="pure-u-menu pure-u-1-6 pure-u-xl-1-4">
    {{> menu}}
  </div>
</div>
{{else}}
<div class="pure-g">
  <a title="{{__ 'Go back home'}}" class="pure-u-logo pure-u-1-2" href="{{homeUrl organisation}}">
    <div>
      {{#if home}}
        <img src="/wingzy_line.png" alt="Wingzy" id="main-logo">
      {{else}}
        {{{logo organisation}}}
      {{/if}}
    </div>
  </a>
  <div class="pure-u-menu pure-u-1-2">
    {{> menu}}
  </div>
</div>
{{/if}}
{{#if editCoverUrl}}
  <a id="cover-button" href="{{editCoverUrl}}" class="pure-button scale hide">{{{__ "Change Cover"}}}</a>
{{/if}}
</header>
