{{!
@Author: Clément Dietschy <clement>
@Date:   17-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 04-05-2017 04:39
@Copyright: Clément Dietschy 2017
}}
<script type="text/html" id="hit-template">
  {{{{raw}}}}
  <div class="record pure-g {{type}}">
    <div class="pure-u-1-6">
      <div class="picture">
        <img onload="resizeImg(this)" src="{{picture.url}}">
      </div>
    </div>
    <div class="pure-u-5-6">
      <div class="central">
        <div class="central-header">
          <p class="actions">
            {{#canEdit}}
            <a title="Compose" href="/compose/{{objectID}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            {{/canEdit}}
            {{#canDelete}}
            <a title="Delete" href="/admin/records/delete/{{objectID}}"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
            {{/canDelete}}
          </p>
          <h2 class="name searcher" onclick="setSearch('{{tag}}')">{{{_highlightResult.name.value}}}</h2>
          <a title="{{name}}" class="tag searcher" onclick="setSearch('{{tag}}')">{{{_highlightResult.tag.value}}}</a>
        </div>
        <p class="description snippet">{{{_snippetResult.description.value}}}</p>
        <p class="description full">{{{_highlightResult.description.value}}}</p>
        <div class="links">
          <ul>
            <li class="expander"><a onclick="toggleRecord(this)"><i class="fa fa-chevron-down" aria-hidden="true"></i></a></li>
            {{#links}}
            <li class="{{class}}"><a href="{{url}}" title="{{display}}" target="_blank"><i class="fa fa-{{icon}}" aria-hidden="true"></i><span class="link-text">{{display}}</span></a></li>
            {{/links}}
            <li class="collapser"><a onclick="toggleRecord(this)"><i class="fa fa-chevron-up" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{{{/raw}}}}
</script>
