<script type="text/template" id="hits-template">
  {{{{raw}}}}
  {{#hits}}<div class="pure-g-box">
    {{^invitation}}
    <div class="record pure-g pure-g-{{type}}">
      <div class="pure-u-1 pure-u-intro">
        <a href="{{url}}" class="picture">
          {{{pictureHtml}}}
        </a>
        {{#links.length}}
        <div class="contacts">
          <div class="{{type}}-{{personAvailability}} {{type}}-status" title="{{personAvailability}}"></div>
          {{#links}}
          <a href="{{url}}" class="{{class}} fa fa-{{icon}}" title="{{display}}" aria-hidden="true" target="_blank"></a>
          {{/links}}
        </div>
        {{/links.length}}
        <a href="{{url}}" class="name">
          <h2>
            {{{_highlightResult.name.value}}}
            {{#hashtag}}
              <span>{{includes_count.person}}</span>
            {{/hashtag}}
          </h2>
        </a>
        <p class="intro">{{{_snippetResult.intro.value}}}</p>
      </div>
      {{#hashtags.length}}
      <div class="pure-u-1 pure-u-hashtags">
        <a class="fa fa-chevron-right scroll-right" aria-hidden="true"></a>
        <a class="fa fa-chevron-left scroll-left" aria-hidden="true"></a>
        <div class="hashtags-box">
          <div class="hashtags scroll">
            {{#hashtags}}
            <a data-tag="{{tag}}" data-name="{{name}}" class="cloud-element hashtag {{class}}">
              {{{pictureHtml}}}<span>{{{name}}}</span>
            </a>
            {{/hashtags}}
          </div>
        </div>
      </div>
      {{/hashtags.length}}
    </div>
    {{/invitation}}
    {{#invitation}}
    {{{{/raw}}}}
    <div class="pure-g noone">
      <div class="pure-u-1 pure-u-md-1-3">
        <div class="grid-box">
          <h2>{{__ "Help others spread their Wings"}}</h2>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-2-3">
        <div class="grid-box invite-button-container">
          <a class="pure-button scale invite-button" href="{{url 'invite' organisation.tag}}">
            <i class="fa fa-user-plus"></i> {{__ "Invite Coworker"}}</a>
        </div>
      </div>
    </div>
    {{{{raw}}}}
    {{/invitation}}
  </div>{{/hits}}
  {{{{/raw}}}}
</script>
