<script type="text/template" id="hits-template">
  {{{{raw}}}}
  {{#hits}}
  <div class="pure-g-box">
    <div class="record pure-g">
      <div class="pure-u-1 pure-u-intro">
        <a href="{{url}}" class="picture">
          <img src="{{picture.url}}">
        </a>
        {{#links.length}}
        <div class="contacts">
          {{#links}}
          <a href="{{url}}" class="{{class}} fa fa-{{icon}}" title="{{display}}" aria-hidden="true" target="_blank"></a>
          {{/links}}
        </div>
        {{/links.length}}
        <a href="{{url}}" class="name">
          {{#showTag}}<h3>{{{tag}}}</h3>{{/showTag}}
          <h2>{{{_highlightResult.name.value}}}</h2>
        </a>
        <p class="intro">{{{_snippetResult.intro.value}}}</p>
      </div>
      {{#hashtags.length}}
      <div class="pure-u-1 pure-u-hashtags">
        <a onclick="goRight(this)" class="fa fa-chevron-right scroll-right" aria-hidden="true"></a>
        <a onclick="goLeft(this)" class="fa fa-chevron-left scroll-left" aria-hidden="true"></a>
        <div class="hashtags-box">
          <div class="hashtags scroll">
            {{#hashtags}}
            <a data-tag="{{tag}}" data-name="{{name}}" class="cloud-element hashtag {{class}}">
              {{{pictureHtml}}}<span>{{name}}</span>
            </a>
            {{/hashtags}}
          </div>
        </div>
      </div>
      {{/hashtags.length}}
    </div>
  </div>
  {{/hits}}
  {{{{/raw}}}}
</script>
