{{!
@Author: Clément Dietschy <clement>
@Date:   17-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 23-06-2017 06:32
@Copyright: Clément Dietschy 2017
}}
<div class="pure-g home-triptic">
  <div class="pure-u-1-1 pure-u-md-1-3">
    <div class="grid-box">
      <p class="reward"><i class="fa fa-user-circle-o" aria-hidden="true"></i></p>
      <h2>Hello You</h2>
      <p>Lenom is a genuine app to find, discover and reach the persons we are working with.</p>
    </div>
  </div>
  <div class="pure-u-1-1 pure-u-md-1-3">
    <div class="grid-box">
      <p class="reward"><i class="fa fa-hand-o-down" aria-hidden="true"></i></p>
      <h2>Be Lazy</h2>
      <p>Save time. Make no effort. Lenom builds itself and keeps updated <abbr title='Lenom learns by integrating with your existing tools'>automagically</abbr>.</p>
    </div>
  </div>
  <div class="playstop pure-u-1-1 pure-u-md-1-3">
    <div class="grid-box">
      {{#if user}}
        <p class="reward"><a class="playstop" href="{{logoutUrl}}"><i class="fa fa-stop" aria-hidden="true"></i></a></p>
        <h2 class="align-center">Stop</h2>
        <p>Thank you for testing Lenom. <a href="mailto:clement@lenom.io">Feedbacks are welcome!</a></p>
        <p><a class="pure-button" href="{{logoutUrl}}">Logout</a></p>
      {{else}}
      <p class="reward"><a href="{{loginUrl}}"><i class="fa fa-play" aria-hidden="true"></i></a></p>
      <h2>Start</h2>
      <p>Join the private beta with a Google Suite account.</p>
      <p><a class="pure-button" href="{{loginUrl}}">Login with Google</a></p>
      {{/if}}
    </div>
  </div>
</div>
