{{!
@Author: Clément Dietschy <clement>
@Date:   17-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 08-06-2017 01:28
@Copyright: Clément Dietschy 2017
}}
<div class="pure-g home-triptic">
  <div class="pure-u-1-1 pure-u-md-1-3">
    <div class="grid-box">
      <p class="reward"><i class="fa fa-map " aria-hidden="true"></i></p>
      <h2>Lost?</h2>
      <p>No worries. Organisations often feel confusing. We all struggle to know our way around at work.</p>
    </div>
  </div>
  <div class="pure-u-1-1 pure-u-md-1-3">
    <div class="grid-box">
      <p class="reward"><i class="fa fa-map-marker" aria-hidden="true"></i></p>
      <h2>Found!</h2>
      <p>Lenom is an enterprise <abbr title="Software as a service">Saas</abbr> to reach the coworker you need with clarity and confidence </p>
    </div>
  </div>
  <div class="playstop pure-u-1-1 pure-u-md-1-3">
    <div class="grid-box">
      {{#if user}}
        <p class="reward"><a class="playstop" href="{{logoutUrl}}"><i class="fa fa-stop" aria-hidden="true"></i></a></p>
        <h2 class="align-center">Stop</h2>
        <p>Thank you for testing Lenom. <a href="mailto:clement@lenom.io">Feedbacks are welcome!</a></p>
        <p><a class="pure-button" href="{{logoutUrl}}">Logout</a></p>
      {{else}}
      <p class="reward"><a href="{{loginUrl}}"><i class="fa fa-play" aria-hidden="true"></i></a></p>
      <h2>Start</h2>
      <p>Join the private beta.</p>
      <p><a class="pure-button" href="{{loginUrl}}">Login with Google</a></p>
      {{/if}}
    </div>
  </div>
</div>
