{{! WARNING DUPLICATED IN JS : addLinkToCloud() !!!}}
{{#if editable}}
<li class="cloud-element link">
  <input type="hidden" name="links[values]" value="{{value}}" />
  <input type="hidden" name="links[types]" value="{{type}}" />
  <i class="fa {{linkIcon this}}" aria-hidden="true"></i><span>{{linkDisplay this}}</span><a class="js-remove">&times;</a>
</li>
{{else}}
<a href="{{linkUrl this}}" class="cloud-element link {{type}}" target="_blank">
  <i class="fa {{linkIcon this}}" aria-hidden="true"></i><span>{{linkDisplay this}}</span>
</a>
{{/if}}
