<div>
  {{#if onboard}}
    {{> onboard_steps}}
  {{else}}
    {{#if user}}
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a title="{{__ 'Menu'}}" class="pure-menu-link pure-menu-picture">{{{profilePicture user organisation}}}</a>
            <ul class="pure-menu-children">
              {{#if hasProfile}}
              <li class="pure-menu-item">
                <a title="{{__ 'Profile'}}" class="pure-menu-link edit-link" href="{{{profileUrl organisation user}}}">{{__ 'Profile'}}</a>
              </li>
              {{/if}}
              {{#if isAdmin}}
              <li class="pure-menu-item">
                <a title="{{__ 'Setup Org'}}" class="pure-menu-link" href="{{{adminUrl organisation}}}">{{__ 'Setup Org'}}</a>
              </li>
              {{/if}}
              <li class="pure-menu-item">
                <a title="{{__ 'Sign out'}}" class="pure-menu-link" href="{{logoutUrl}}">{{__ "Sign out"}}</a>
              </li>
              {{#user.orgsAndRecords}}
              <li class="pure-menu-item pure-menu-item-org {{#ifEqual organisation.tag ../organisation.tag}}hidden{{/ifEqual}}">
                <a title="{{organisation.name}}" class="pure-menu-link" href="{{homeUrl organisation ../locale}}">{{organisation.name}}</a>
              </li>
              {{/user.orgsAndRecords}}
            </ul>
          </li>
        </ul>
      </div>
    {{else}}
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {{#if isPublic}}
          <li class="pure-menu-item pure-menu-item-why">
            <a title="{{__ "Why Wingzy?"}}" href="{{url null null}}" class="pure-menu-link">{{__ "Why Wingzy?"}}</a>
          </li>
          <li class="pure-menu-item pure-menu-item-pricing">
            <a title="{{__ "Pricing"}}" href="{{url 'pricing' null}}" class="pure-menu-link">{{__ "Pricing"}}</a>
          </li>
          {{/if}}
          <li class="pure-menu-item">
            <a title="{{__ "Sign in"}}" href="{{signinUrl}}" class="pure-menu-link">{{__ "Sign in"}}</a>
          </li>
        <ul>
      </div>
    {{/if}}
  {{/if}}
</div>
