{{!
@Author: Clément Dietschy <clement>
@Date:   17-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 10-05-2017 11:59
@Copyright: Clément Dietschy 2017
}}
<div>
  {{#if user}}
  {{{addLink user organisation}}}
  {{{profileLink user organisation}}}
  {{{adminLink user organisation}}}
  <a title="{{__ "Sign out"}}" class="fa fa-sign-out logout" href="{{logoutUrl}}" aria-hidden="true"></a>
  {{else}}
  <a title="{{__ "Sign in"}}" class="login" href="{{signinUrl}}"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign in</a>
  {{/if}}
</div>
