{{!
@Author: Clément Dietschy <clement>
@Date:   17-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 10-05-2017 11:59
@Copyright: Clément Dietschy 2017
}}
<div>
  {{#if user}}
  {{{adminLink user organisation}}}
  {{{profileLink user organisation}}}
  <a title="Logout" class="fa fa-sign-out logout" href="{{logoutUrl}}" aria-hidden="true"></a>
  {{else}}
  <a title="Login" class="login" href="{{googleSigninUrl}}"><i class="fa fa-google" aria-hidden="true"></i> Login</a>
  {{/if}}
</div>
