<a title="{{__ "Intro"}}" class="scale step introStep {{#if onboard.intro}}active{{/if}}" href="{{onboard.introAction}}" aria-hidden="true">
<img src="/images/steps/intro_red.png">
  <img src="/images/steps/intro_grey.png">
  <span>{{__ "Intro"}}</span>
</a>
<a title="{{__ "Wings"}}" class="scale step hashtagsStep {{#if onboard.hashtags}}active{{/if}}" href="{{onboard.hashtagsAction}}">
  <img src="/images/steps/hashtags_red.png">
  <img src="/images/steps/hashtags_grey.png">
  <span>{{__ "Wings"}}</span>
</a>
<a title="{{__ "Links"}}" class="scale step linksStep {{#if onboard.links}}active{{/if}}" href="{{onboard.linksAction}}">
  <img src="/images/steps/links_red.png">
  <img src="/images/steps/links_grey.png">
  <span>{{__ "Contacts"}}</span>
</a>
