<a title="{{__ "Introduction"}}" class="step fa fa-circle{{#unless onboard.intro}}-o{{/unless}}" href="{{onboard.introAction}}" aria-hidden="true"></a>
<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
<a title="{{__ "Hashtags"}}" class="step fa fa-circle{{#unless onboard.tags}}-o{{/unless}}" href="{{onboard.tagsAction}}" aria-hidden="true"></a>
<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
<a title="{{__ "Links"}}" class="step fa fa-circle{{#unless onboard.links}}-o{{/unless}}" href="{{onboard.linksAction}}" aria-hidden="true"></a>
