{{#if showPremiumButton}}
  <div id="premium">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">

          {{#if usePremiumFeatures}}
            <a title="{{{__ "Premium"}}}" class="premium-btn">{{{__ "Premium"}}}</a>
            <div class="premium-btn-mobile"></div>
            <ul class="premium-btn-children">
              <li class="premium-btn-children-item" id="copy-emails-feature-action">
                {{{__ "Send an email to all !"}}}
              </li>
            </ul>
          {{else}}
            <a title="{{{__ "Contact us to go Premium !"}}}" class="premium-btn">{{{__ "Premium"}}}</a>
            <ul class="premium-btn-children">
              <li class="premium-btn-children-item disabled" title="{{{__ "Contact us to go Premium !"}}}">
                {{{__ "Send an email to all !"}}}
              </li>
            </ul>
          {{/if}}

        </li>
      </ul>
    </div>
  </div>

  {{#if usePremiumFeatures}}
  <!-- mobile display FAP -->
    <nav class="premium-mobile"  >   
      <a class="buttons" id="copy-emails-feature-action" tooltip="{{{__ "Send an email to all !"}}}"><i class="fa fa-envelope"></i></a>
      <a class="buttons"></a>
    </nav>

  <!-- feature copy emails -->
    <div id="copy-emails-feature">
        <div class="message-popup">
            <div class="message-popup-logo"><img src="/wingzy.png" alt="Wingzy"/></div>
            <div class="message-popup-title">
              <h2>{{{__ "Hop ! It's copied !"}}}</h2>
              <h3>{{{__ "You only need to past into your email recipients ;)"}}}</h3>
            </div>
            
            <textarea class="message-popup-text" id="copy-emails-feature-popup-text"  rows="3" readonly>{{{emailList}}}</textarea>
        </div>
        <div class="message-popup-blackBack" id="copy-emails-feature-blackBack"></div>
    </div>
  {{/if}}
{{/if}}