<div class="grid-box grid-box-signin">
  {{> form_errors}}
  <form action="{{emailSigninUrl}}" method="post" class="pure-form signin-form">
    {{#if googleSignin}}
      <a class="google-signin pure-button scale" href="{{googleSigninUrl}}">
        <img src="https://developers.google.com/identity/images/g-logo.png"> {{__ "Sign in with Google"}}
      </a>
      {{#if emailSignin}}
        <p class="signin-or black">{{__ "or"}}</p>
      {{/if}}
    {{/if}}
    {{#if emailSignin}}
    <input id="email-input" class="pure-input-1" type="email" name="email" value="{{email}}" placeholder="{{__ "Your work email"}}">
    <input id="jeSuisHumain" class="pure-input-1" type="text" name="jeSuisHumain">
    <input id="invitationCode" class="pure-input-1" type="hidden" name="invitationCode" value={{invitationCode}}>
    <button id="email-submit" type="submit" class="pure-button scale">{{__ "Sign in with your email"}}</button>
    {{/if}}
  </form>
</div>
<script>
  window.setTimeout(function() {
    document.getElementById('jeSuisHumain').value = 'Oui!';
  },1000);
</script>
