<footer>
  <div class="pure-g">
    <a class="pure-u-footer-logo pure-u-1-6" href="{{homeUrl}}">
      <div>
        <img class="pure-img" src="/wingzy_grey.png">
      </div>
    </a>
    <div class="pure-u-footer-menu pure-u-2-3">
      <div>
          <a title="{{__ "Contact us"}}" href="mailto:contact@wingzy.io">{{__ "Contact us"}}</a>
          <a title="{{__ "Join us"}}" href="mailto:join@wingzy.io">{{__ "Join us"}}</a>
          <a title="{{__ "Terms of Service"}}" href="{{url "terms" null}}">{{__ "Terms of Service"}}</a>
          <a title="{{__ "Privacy Policy"}}" href="{{url "privacy" null}}">{{__ "Privacy Policy"}}</a>
      </div>
    </div>
    <a class="pure-u-footer-twitter pure-u-1-6" href="https://twitter.com/Wingzy_io">
      <div>
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
    </a>
  </div>
</footer>
