{{!
@Author: Clément Dietschy <clement>
@Date:   18-07-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 18-07-2017 03:59
@Copyright: Clément Dietschy 2017
}}

<form class="home-form pure-form">
  <input class="pure-input-1" type="email" placeholder="{{__ "Your work email"}}">
  <button type="submit" class="pure-button">{{__ "Get Started"}}</button>
  <p class="homepage-or">{{__ "or"}}</p>
  <a class="google-login pure-button" href="{{loginUrl}}">{{__ "Get Started with Google"}}</a>
</form>
