{{!
@Author: Clément Dietschy <clement>
@Date:   18-07-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 18-07-2017 03:59
@Copyright: Clément Dietschy 2017
}}

<form action="{{formAction}}" method="post" class="home-form pure-form">
  <input class="pure-input-1" type="email" name="email" value="{{email}}" placeholder="{{__ "Your work email"}}">
  {{#errors}}<p class="errors"><i class="fa fa-hand-paper-o" aria-hidden="true"></i> {{msg}}</p>{{/errors}}
  <button type="submit" class="pure-button">{{__ "Get Started"}}</button>
  <p class="homepage-or">{{__ "or"}}</p>
  <a class="google-login pure-button" href="{{loginUrl}}">{{__ "Get Started with Google"}}</a>
</form>
