<div class="main">
  <div class="pure-g">
    <div class="pure-u-1">
      <h1>
        {{#if organisation.picture.url}}
          <img src="{{organisation.picture.url}}" alt="{{organisation.name}}">
        {{else}}
          {{organisation.name}}
        {{/if}}
      </h1>
      <h2>{{{__ 'Wingzy is the app to share what we are good at and love doing' organisation.name}}}</h2>
    </div>
  </div>
  <div class="bottom-buttons">
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <form action="{{onboard.welcomeAction}}" method="post">
            <button type="submit" class="pure-u-1 pure-button scale">{{{__ "Spread your wings"}}}</button>
          </form>
        </div>
      </div>
    </div>
    <div class="pure-g">
      <a class="pure-u-1-2" title="{{__ "Terms of Service"}}" href="{{url "terms" null}}">{{__ "Terms of Service"}}</a>
      <a class="pure-u-1-2" title="{{__ "Privacy Policy"}}" href="{{url "privacy" null}}">{{__ "Privacy Policy"}}</a>
    </div>
  </div>
</div>
