<div class="main">
  <div class="pure-g">
    <div class="pure-u-1">
      <h1>{{__ "Welcome to %s!" organisation.name}}</h1>
      <h2>{{{__ 'Wingzy is the obvious app to find the coworkers you need by revealing skills and passions'}}}</h2>
    </div>
  </div>
  <div class="bottom-buttons">
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <form action="{{onboard.welcomeAction}}" method="post">
            <button type="submit" class="pure-u-1 pure-button scale">{{{__ "Spread your wings"}}}</button>
          </form>
        </div>
      </div>
    </div>
    <div class="pure-g">
      <a class="pure-u-1-2" title="{{__ "Terms of Service"}}" href="{{url "terms" null}}">{{__ "Terms of Service"}}</a>
      <a class="pure-u-1-2" title="{{__ "Privacy Policy"}}" href="{{url "privacy" null}}">{{__ "Privacy Policy"}}</a>
    </div>
  </div>
</div>
