{{!
@Author: Clément Dietschy <bedhed>
@Date:   10-5-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 23-06-2017 05:08
@Copyright: Clément Dietschy 2017
@todo deduplicate wiew code with partials/hit_template.hbs
}}
<div class="main admin">
  <div class="pure-g">
    <div class="pure-u-1">
      <h1 class="tagline">{{organisation.name}} Administration</h1>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-6 pure-u-md-1-6">
      <h1 class="reward"><i class="fa fa-user-circle-o" aria-hidden="true"></i></h1>
    </div>
    <div class="pure-u-5-6">
      <h2>Records</h2>
      <p><a href="{{url "admin/record/csv/" organisation}}"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download</a></strong> Get very records in your directory as a CSV file.</p>
      <p><a href="{{url "admin/record/upload/" organisation}}"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload</a> Update records in your directory from a CSV file.</p>
      <div class="danger-zone">
        <h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Danger</h3>
        <p><a href="{{url "admin/record/remake/" organisation}}" onclick="return confirm('This action can break your directory. Are you sure?')"><i class="fa fa-refresh" aria-hidden="true"></i> Remake</a> Rebuild every records in your directory and update search engine.</p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-6 pure-u-md-1-6">
      <h1 class="reward"><i class="fa fa-umbrella" aria-hidden="true"></i></h1>
    </div>
    <div class="pure-u-5-6">
      <h2>Organisation</h2>
      <p><a href="{{url "admin/organisation/tree/" organisation}}"><i class="fa fa-tree" aria-hidden="true"></i> Tree</a></strong> Edit your organisation teams' tree.</p>
      <p><a href="{{url "admin/fullcontact/enrichall/" organisation}}"><i class="fa fa-plus" aria-hidden="true"></i> Enrich</a></strong> Enrich links of every person's record automatically .</p>
  </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-6 pure-u-md-1-6">
      <h1 class="reward"><i class="fa fa-google" aria-hidden="true"></i></h1>
    </div>
    <div class="pure-u-5-6">
      <h2>Google</h2>
      <p><a href="{{url "admin/google/user/list/" organisation}}"><i class="fa fa-user" aria-hidden="true"></i> Users list</a> Get users within your Google organisation (500 max).</p>
      <div class="danger-zone">
        <h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Danger</h3>
        <p><a href="{{url "admin/google/user/update/" organisation}}" onclick="return confirm('This action can break your directory. Are you sure?')"><i class="fa fa-refresh" aria-hidden="true"></i> Update</a> Update the records in your directory by adding new Google users and removing suspended Google users.</p>
      </div>
    </div>
  </div>
</div>
