{{!
@Author: Clément Dietschy <bedhed>
@Date:   16-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 18-05-2017 06:02
@Copyright: Clément Dietschy 2017
}}
{{> subheader}}
{{> left_panel}}
<div class="main org-{{organisation.tag}}" id="search-results">
</div>
{{> hit_template}}
{{> noone_template}}
<script>
  var isDevelopment = {{{json isDevelopment}}};
  var algoliaPublicKey = {{{json algoliaPublicKey}}};
  var isAdmin = {{{json isAdmin}}};
  var myRecordId = {{{json myRecordId}}};
  var isMyOrg = {{{json isMyOrg}}};
  var orgTree = {{{json orgTree}}};
</script>
<script src="/javascripts/index.js"></script>
