{{!
@Author: Clément Dietschy <bedhed>
@Date:   10-4-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 17-05-2017 04:51
@Copyright: Clément Dietschy 2017
@todo deduplicate wiew code with partials/hit_template.hbs
}}
<div class="main edit">
  {{> edit_intro}}
  <form action="{{formAction}}" method="post" class="pure-form pure-form-stacked">
    <input type="hidden" name="_id" value="{{record._id}}" />
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-2-3">
        <ul class="errors">
          {{#errors}}
          <li><i class="fa fa-hand-paper-o" aria-hidden="true"></i> {{msg}}</li>
          {{/errors}}
        </ul>
        <ul class="successes">
          {{#successes}}
          <li><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{msg}}</li>
          {{/successes}}
        </ul>
        <div class="grid-box">
          <label for="name">{{__ "What is your name?"}}</label>
          <input class="pure-input-1" id="name" name="name" type="text" placeholder="{{__ "Jon Snow"}}" value="{{record.name}}">

          <label for="picture[url]">{{__ "Please share a picture of yourself!"}}</label>
          <input type="hidden" role="uploadcare-uploader" name="picture[url]" data-image-shrink="512x512" data-images-only="true" />
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-2-3">
        <div class="grid-box">
          <label for="desc-do">{{__ "What can you tell us about you?"}}</label>
          <textarea class="pure-input-1 description" id="desc-do" name="description" type="text" placeholder="{{__ "Multi\nLine\nTest"}}" value="{{record.description}}">
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-3">
        <p class="edit-help">{{{__ "<i class='fa fa-hashtag' aria-hidden='true'></i> are for <strong>projects</strong> or <strong>interests</strong>.<br/><i class='fa fa-at' aria-hidden='true'></i> are for <strong>teams</strong>."}}}</p>
      </div>
    </div>
    <div class="record pure-g {{record.type}} expanded">
      {{#if team}}<div class="pure-u-1-3">{{else}}<div class="pure-u-1-6">{{/if}}
        <div class="picture">
          {{#if team}}<img onload="resizeImg(this, 2.15)" src="{{pictureUrl record.picture record.type}}">{{else}}<img onload="resizeImg(this)" src="{{pictureUrl record.picture record.type}}">{{/if}}
        </div>
        <p><input name="picture[url]" type="text" class="pure-input-1 picture-url-input" placeholder="Picture url" value="{{record.picture.url}}"></p>
      </div>
      {{#if team}}<div class="pure-u-2-3">{{else}}<div class="pure-u-5-6">{{/if}}
        <div class="central">
          <fieldset class="pure-group">
            <input name="name" type="text" class="pure-input-1 name-input" placeholder="Your name" value="{{record.name}}">
            <textarea name="description" class="pure-input-1 desc-input" rows="4" placeholder="Your story">{{record.description}}</textarea>
          </fieldset>
          <div class="links">
            <ul>
              {{#record.links}}
              <li class="linkLi {{class}}">
                <input type="hidden" name="links[{{@index}}][_id]" value="{{_id}}">
                <input type="hidden" class="deleted-input" name="links[{{@index}}][deleted]" value="false">
                <a title="Delete" onclick="toggleLink(this)" class="delete-link"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                <a title="Restore" onclick="toggleLink(this)" class="undelete-link"><i class="fa fa-check-circle" aria-hidden="true"></i></a>
                <a href="{{linkUrl this}}" title="{{value}}" target="_blank"><i class="fa {{linkIcon this}}" aria-hidden="true"></i><span class="link-text">{{linkDisplay this}}</span></a>
              </li>
              {{/record.links}}
            </ul>
          </div>
          <fieldset class="links pure-group">
            <span class="links-li">
              <a onclick="addLinkInput(this)" class="create-link"><i class="fa fa-plus-circle" aria-hidden="true"></i><span class="link-text">Create Link</span></a>
            </span>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-1">
        <p class="validate">
          <input type=submit class="pure-button button-success save-input" value="Save"></input>
        </p>
      </div>
    </div>
  </form>
</div>
{{> edit_script}}
