{{!
@Author: Clément Dietschy <bedhed>
@Date:   09-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   bedhed
@Last modified time: 02-04-2017 11:19
@Copyright: Clément Dietschy 2017
}}
<div class="pure-g">
  <div class="pure-u-1-1">
    <h1 class="tagline">Friendly Coworker Directory</h1>
  </div>
</div>
<div class="pure-g triptic">
  <div class="pure-u-1-1 pure-u-md-2-5">
    <div class="grid-box">
      <p class="reward"><i class="fa fa-search" aria-hidden="true"></i></p>
      <h2 class="align-center">Search</h2>
      <p>Lenom is a lightning fast search engine to find people in your organisation.</p>
      <p>Look for coworkers by name, position, skill, team, interest...</p>
      <p>Get back their email, phone, Skype, Github, LinkedIn...</p>
    </div>
  </div>
  <div class="pure-u-1-1 pure-u-md-2-5">
    <div class="grid-box">
      <p class="reward"><i class="fa fa-refresh" aria-hidden="true"></i></p>
      <h2 class="align-center">Sit back</h2>
      <p>Lenom is an effortless and accurate enterprise directory.</p>
      <p>Synchronize it with your exisiting services</p>
      <p>Watch your contact list being built and kept up-to-date automatically.</p>
    </div>
  </div>
  <div class="pure-u-1-1 pure-u-md-1-5">
    <div class="grid-box">
      {{#if user}}
        <p class="reward"><a class="playstop" href="{{logoutUrl}}"><i class="fa fa-stop" aria-hidden="true"></i></a></p>
        <h2 class="align-center">Stop</h2>
        <p>Thank you for testing Lenom. <a href="mailto:clement@lenom.io">Feedbacks are welcome!</a></p>
        <p class="align-center"><a class="pure-button" href="{{logoutUrl}}">Logout</a></p>
      {{else}}
      <p class="reward"><a class="playstop" href="{{loginUrl}}"><i class="fa fa-play" aria-hidden="true"></i></a></p>
      <h2 class="align-center">Start</h2>
      <p>Join the private beta with a Google Suite account.</p>
      <p class="align-center"><a class="pure-button" href="{{loginUrl}}">Login with Google</a></p>
      {{/if}}
    </div>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1-1">
    <p class="align-center">
      We built a fake company where celebrities are employees to demonstrate how Lenom works
      <a class="button-success pure-button" href="/demo?q=manager%20accountings%20paris">Checkout the Demo</a>
    </p>
  </div>
</div>
