<div class="main">
  <form class="pure-form pure-form-stacked" action="{{onboard.introAction}}" method="post">
    <input type="hidden" name="_id" value="{{record._id}}" />
    {{> form_errors}}
    <div class="pure-g">
      <div class="pure-u-md-1-3 pure-u-1">
      <div class="grid-box picture-box">
        <div id="uploadcare" class="image-preview-single picture">
          <img src="" alt="">
          <input id="uploadcare" type="hidden" role="uploadcare-uploader" name="picture[url]" data-crop="300x300 upscale" data-image-shrink="1280x1280" data-images-only="true"  value="{{uploadcareUrl}}"/>
        </div>
      </div>
      </div>
      <div class="pure-u-md-2-3 pure-u-1">
        <div class="grid-box">
          <label for="email">
            {{__ "Email"}}
          </label>
          <input class="pure-input-1" id="email" name="email" type="email" value="{{user.loginEmail}}" disabled="">
        </div>
        <div class="grid-box">
          <label for="name">{{__ "Name"}}</label>
          <input class="pure-input-1" id="name" name="name" type="text" value="{{{record.name}}}">
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <label for="intro">{{__ "What do you do at %s?" organisation.name}}</label>
          <input class="pure-input-1 desc-input" id="intro" name="intro" type="text" value="{{{record.intro}}}">
        </div>
        <div class="grid-box wings-checkboxes-label">
          <label for="wings-checkboxes">{{__ "Which are your Wings?"}}</label>
        </div>
      </div>
    </div>
    <div id="wings-checkboxes" class="pure-g">
      {{#wings}}
        <div class="pure-u-1-3">
          <label for="{{_id}}" class="wings-label">
            <img src="{{picture.url}}" class="wings-img">
            <input id="{{_id}}" type="checkbox" name="wings" value="{{_id}}" {{#checked}}checked{{/checked}}>
          </label>
        </div>
      {{/wings}}
    </div>
    <div class="bottom-buttons">
      <div class="pure-g">
        <div class="pure-u-1-2 pure-u-md-1-3">
          <div class="grid-box">
            <a class="pure-button scale back-button" href="{{onboard.welcomeAction}}">{{{__ "Back"}}}</a>
          </div>
        </div>
        <div class="pure-u-1-2 pure-u-md-2-3">
          <div class="grid-box">
            <button type="submit" class="pure-button scale">{{{__ "Next"}}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{{> jquery}}
{{> uploadcare_script}}

<script src="/javascripts/jquery.textcomplete.min.js"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script>var algoliaPublicKey = {{{json algoliaPublicKey}}};</script>
<script src="/javascripts/edit.js"></script>

<script>
  $('#wings-checkboxes label').click(function () {
    if($(this).children('input').is(':checked')) $(this).addClass('checked');
    if(!$(this).children('input').is(':checked')) $(this).removeClass('checked');
  });
  $('#wings-checkboxes input:checked').parent().addClass('checked');
</script>
