<div class="main">
  {{> form_errors}}
  <div class="pure-g pure-form pure-form-stacked">
    <div class="pure-u-1">
      <div id="link-input-box" class="grid-box">
        <label for="link-input">{{__ "What contact info would you like to share?" organisation.name}}</label>
        <ul id="type-selector">
          <li id="email-selector" data-type="email" data-placeholder="{{__ 'my-email@domain.io'}}">
            <i class="fa fa-envelope" aria-hidden="true"></i><span> {{__ "Email"}}</span>
          </li><li id="phone-selector" data-type="phone" data-placeholder="{{__ '+33 1 12 35 81 32'}}">
            <i class="fa fa-phone" aria-hidden="true"></i><span> {{__ "Phone"}}</span>
          </li><li id="twitter-selector" data-type="twitter" data-placeholder="{{__ '@Wingzy_io'}}">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </li><li id="linkedin-selector" data-type="linkedin" data-placeholder="{{__ 'simonedebeauvoir'}}">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </li><li id="facebook-selector" data-type="facebook" data-placeholder="{{__ 'simone.de.beauvoir'}}">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </li><li id="link-selector" data-type="link" data-placeholder="{{__ 'https://github.com/wingzy'}}">
            <i class="fa fa-link" aria-hidden="true"></i><span> {{__ "Link"}}</span>
          </li>
        </ul>
        <a id="plus-button" class="fa fa-plus" aria-hidden="true"></a>
        <input id="link-input" class="pure-input-1"type="text" placeholder="{{__ 'Add contact'}}" autofocus>
      </div>
    </div>
  </div>
  <form class="pure-form pure-form-stacked" action="{{onboard.linksAction}}" method="post">
    <input type="hidden" name="_id" value="{{record._id}}" />
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <ul class="cloud" id="link-cloud">
            {{#record.links}}
            {{> link }}
            {{/record.links}}
          </ul>
          <p class="cloud-howto">{{__ "The first three will be displayed in search results. Drag to add and reorder."}}</p>
        </div>
      </div>
    </div>
    <div class="bottom-buttons">
      <div class="pure-g">
        <div class="pure-u-1-2 pure-u-md-1-3">
          <div class="grid-box">
            <a class="pure-button scale back-button" href="{{onboard.hashtagsAction}}">{{{__ "Back"}}}</a>
          </div>
        </div>
        <div class="pure-u-1-2 pure-u-md-2-3">
          <div class="grid-box">
            <button type="submit" class="pure-button scale">{{{__ "Done"}}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<script src="/javascripts/Sortable.min.js"></script>
<script>
  var cloudUl = document.getElementById('link-cloud');
  var animationSpeed = 200;
  var cloud = Sortable.create(
    cloudUl,
    {
      group: {name: "links", pull: false, put: false},
      animation: animationSpeed,
      draggable: '.link',
      filter: ".js-remove",
      onFilter: function (evt) {
      	var item = evt.item, ctrl = evt.target;

      	if (Sortable.utils.is(ctrl, ".js-remove")) {  // Click on remove button
      		item.parentNode.removeChild(item); // remove sortable item
      	}
      }
    }
  );
</script>
{{> jquery}}
<script>
  var linkInput = document.getElementById("link-input");
  var plusButton = document.getElementById("plus-button");

  function addLinkToCloud() {
    var type = linkInput.dataset.type
    var value = linkInput.value
    //@todo some validation should come here
    if (!value) return goNext(true);

    cloudUl.insertAdjacentHTML('beforeend',
      '<li class="cloud-element link added">' +
      '<a class="js-remove">x</a>' +
      '<input type="hidden" name="links[values]" value="' + value + '" />' +
      '<input type="hidden" name="links[types]" value="' + type + '" />' +
      linkIcon(type) + ' ' +
      value +
      '</li>'
    );
    linkInput.value = ''
    return goNext()
  }

  function goNext(loop) {
    var nextSelector = $('#type-selector li.selected').next();
    if (!nextSelector.length && loop) nextSelector = $('#type-selector li').first();
    nextSelector.click();
  }

  function formInputType(type) {
    switch (type) {
      case 'email':
        return 'email';
      case 'phone':
        return 'tel';
      case 'link':
        return'url';
      default:
        return 'text';
    }
  }

  function linkIcon(type) {
    var faClass = '';
    switch (type) {
      case 'email':
        faClass = 'fa-envelope-o'; break;
      case 'address':
        faClass = 'fa-map-marker'; break;
      case 'hyperlink':
        faClass = 'fa-link'; break;
      default:
        faClass = 'fa-'+ type; break;
    }
    return '<i class="fa ' + faClass + '" aria-hidden="true"></i>';
  }
</script>
<script>
  $('#type-selector li').click(function () {
    // Toggle between type tabs
    $('#type-selector li').removeClass('selected');
    $(this).addClass('selected');

    // Setup link-input accordingly
    var type = $(this).data('type');
    linkInput.placeholder = $(this).data('placeholder');
    linkInput.type = formInputType(type);
    linkInput.setAttribute('data-type', type);

    // Change the color
    linkInput.classList.remove('twitter', 'linkedin', 'facebook');
    plusButton.classList.remove('twitter', 'linkedin', 'facebook');
    if (type === 'twitter' || type === 'linkedin' || type === 'facebook') {
      plusButton.classList.add(type);
      linkInput.classList.add(type);
    }
  });
  linkInput.addEventListener('keypress', (event) => {
    if (event.which == 13 || event.keyCode == 13) {
            event.preventDefault();
            addLinkToCloud();
            return false;
        }
    return true;
  })

  linkInput.addEventListener('keypress', (event) => {
    if (event.which == 9 || event.keyCode == 9) {
            event.preventDefault();
            goNext(true);
            return false;
        }
    return true;
  })
$('#plus-button').click(addLinkToCloud)

  $( document ).ready(function() {
    $('#phone-selector').click();
  });

</script>
