<div class="main">
  <form class="pure-form pure-form-stacked" action="{{onboard.linksAction}}" method="post">
    <input type="hidden" name="_id" value="{{record._id}}" />
    {{> form_errors}}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box links-label-box">
          <label for="link-buttons">{{__ "How would you like to connect?"}}</label>
        </div>
      </div>
    </div>
    <div id="link-buttons">
      <div class="pure-g">
        <div class="pure-u-1-3">
          <div class="grid-box">
            <button type="button" id="email-button" class="pure-button scale link-button"><i class="fa fa-envelope" aria-hidden="true"></i> {{__ "Add an Email"}}</button>
          </div>
        </div>
        <div class="pure-u-1-3">
          <div class="grid-box">
            <button type="button" class="pure-button scale link-button"><i class="fa fa-phone" aria-hidden="true"></i> {{__ "Add a Phone"}}</button>
          </div>
        </div>
        <div class="pure-u-1-3">
          <div class="grid-box">
            <button type="button" class="pure-button scale link-button"><i class="fa fa-link" aria-hidden="true"></i> {{__ "Add a Link"}}</button>
          </div>
        </div>
        <div class="pure-u-1-3">
          <div class="grid-box">
            <button type="button" class="pure-button scale twitter link-button"><i class="fa fa-twitter" aria-hidden="true"></i> {{__ "Twitter"}}</button>
          </div>
        </div>
        <div class="pure-u-1-3">
          <div class="grid-box">
            <button type="button" class="pure-button scale linkedin link-button"><i class="fa fa-linkedin" aria-hidden="true"></i> {{__ "LinkedIn"}}</button>
          </div>
        </div>
        <div class="pure-u-1-3">
          <div class="grid-box">
            <button type="button" class="pure-button scale facebook link-button"><i class="fa fa-facebook" aria-hidden="true"></i> {{__ "Facebook"}}</button>
          </div>
        </div>
        <div id="link-input">
          <div class="grid-box">
            <div class="modal">
              <label for="email">
                {{__ "Email address"}}
              </label>
              <input class="pure-input-1" id="email" name="email" type="email" placeholder="{{__ "my-email@domain.io"}}">
              <button id="add-button" type="button" class="pure-button scale">{{{__ "Add to profile"}}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <ul id="link-cloud">
            {{#record.links}}
            {{> link}}
            {{/record.links}}
          </ul>
          <p class="cloud-howto">{{__ "The first three will be displayed in search results. Drag to add and reorder."}}</p>
        </div>
      </div>
    </div>
    <div class="bottom-buttons">
      <div class="pure-g">
        <div class="pure-u-1-2 pure-u-md-1-3">
          <div class="grid-box">
            <a class="pure-button scale back-button" href="{{onboard.hashtagsAction}}">{{{__ "Back"}}}</a>
          </div>
        </div>
        <div class="pure-u-1-2 pure-u-md-2-3">
          <div class="grid-box">
            <button type="submit" class="pure-button scale">{{{__ "Done"}}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div id="modal-layer">
</div>

<script src="/javascripts/Sortable.min.js"></script>
<script>
  var cloudUl = document.getElementById('link-cloud');
  var animationSpeed = 200;
  var cloud = Sortable.create(
    cloudUl,
    {
      group: {name: "links", pull: false, put: false},
      animation: animationSpeed,
      draggable: '.link',
      filter: ".js-remove",
      onFilter: function (evt) {
      	var item = evt.item, ctrl = evt.target;

      	if (Sortable.utils.is(ctrl, ".js-remove")) {  // Click on remove button
      		item.parentNode.removeChild(item); // remove sortable item
      	}
      }
    }
  );
</script>

<script>
  var modal = document.getElementById('link-input');
  var modalLayer = document.getElementById('modal-layer');
  var openButton = document.getElementById('email-button');
  openButton.onclick = function() {
    modal.style.display = 'block';
    modalLayer.style.display = 'block';
  }
  window.onclick = function(event) {
    if (event.target == modalLayer) {
      modal.style.display = 'none';
      modalLayer.style.display = 'none';
    }
  }
  var addButton = document.getElementById('add-button');
  addButton.onclick = function(event) {
    var input = addButton.parentElement.querySelector('input');
    addLinkToCloud('email', input.value);
  }

  function addLinkToCloud(type, value) {
    modal.style.display = 'none';
    modalLayer.style.display = 'none';
    cloudUl.insertAdjacentHTML('afterbegin',
      '<li class="link list-group-item added">' +
      '<a class="js-remove">x</a>' +
      '<input type="hidden" name="links" value="' + value + '" />' +
      linkIcon(type) + ' ' +
      value +
      '</li>'
    );
  }

  function linkIcon(type) {
    var faClass = '';
    switch (type) {
      case 'email':
        faClass = 'fa-envelope-o'; break;
      case 'address':
        faClass = 'fa-map-marker'; break;
      case 'hyperlink':
        faClass = 'fa-link'; break;
      default:
        faClass = 'fa-'+ type; break;
    }
    return '<i class="fa ' + faClass + '" aria-hidden="true"></i>';
  }
</script>
