<div class="main">
  {{> form_errors}}
  <div class="pure-g pure-form pure-form-stacked">
    <div class="pure-u-1">
      <div id="link-input-box" class="grid-box">
        <label for="link-input">{{__ "How would you like people at %s to contact you?" organisation.name}}</label>
        <div id="type-selector">
          <label for="email-selector" data-type="email" data-placeholder="{{__ 'my-email@domain.io'}}">
            <i class="fa fa-envelope" aria-hidden="true"></i> {{__ "Email"}}
            <input id="email-selector" type="radio" name="type-selector" value="email-selector">
          </label><label for="phone-selector" data-type="phone" data-placeholder="{{__ '+33 1 12 35 81 32'}}">
            <i class="fa fa-phone" aria-hidden="true"></i> {{__ "Phone"}}
            <input id="phone-selector" type="radio" name="type-selector" value="phone-selector">
          </label><label for="twitter-selector" data-type="twitter" data-placeholder="{{__ '@Wingzy_io'}}">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <input id="twitter-selector" type="radio" name="type-selector" value="twitter-selector">
          </label><label for="linkedin-selector" data-type="linkedin" data-placeholder="{{__ 'fatima.benomar'}}">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <input id="linkedin-selector" type="radio" name="type-selector" value="linkedin-selector">
          </label><label for="facebook-selector" data-type="facebook" data-placeholder="{{__ 'fatima.benomar'}}">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <input id="facebook-selector" type="radio" name="type-selector" value="facebook-selector">
          </label><label for="link-selector" data-type="link" data-placeholder="{{__ 'https://plus.google.com/me'}}">
            <i class="fa fa-link" aria-hidden="true"></i> {{__ "Link"}}
            <input id="link-selector" type="radio" name="type-selector" value="link-selector">
          </label>
        </div>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <input id="link-input" class="pure-input-1"type="text" placeholder="{{__ 'Add contact'}}">
      </div>
    </div>
  </div>
  <form class="pure-form pure-form-stacked" action="{{onboard.linksAction}}" method="post">
    <input type="hidden" name="_id" value="{{record._id}}" />
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <ul id="link-cloud">
            {{#record.links}}
            {{> link}}
            {{/record.links}}
          </ul>
          <p class="cloud-howto">{{__ "The first three will be displayed in search results. Drag to add and reorder."}}</p>
        </div>
      </div>
    </div>
    <div class="bottom-buttons">
      <div class="pure-g">
        <div class="pure-u-1-2 pure-u-md-1-3">
          <div class="grid-box">
            <a class="pure-button scale back-button" href="{{onboard.hashtagsAction}}">{{{__ "Back"}}}</a>
          </div>
        </div>
        <div class="pure-u-1-2 pure-u-md-2-3">
          <div class="grid-box">
            <button type="submit" class="pure-button scale">{{{__ "Done"}}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<script src="/javascripts/Sortable.min.js"></script>
<script>
  var cloudUl = document.getElementById('link-cloud');
  var animationSpeed = 200;
  var cloud = Sortable.create(
    cloudUl,
    {
      group: {name: "links", pull: false, put: false},
      animation: animationSpeed,
      draggable: '.link',
      filter: ".js-remove",
      onFilter: function (evt) {
      	var item = evt.item, ctrl = evt.target;

      	if (Sortable.utils.is(ctrl, ".js-remove")) {  // Click on remove button
      		item.parentNode.removeChild(item); // remove sortable item
      	}
      }
    }
  );
</script>
{{> jquery}}
<script>
  var linkInput = document.getElementById("link-input")

  function addLinkToCloud(type, value) {
    cloudUl.insertAdjacentHTML('afterbegin',
      '<li class="link list-group-item added">' +
      '<a class="js-remove">x</a>' +
      '<input type="hidden" name="links" value="' + value + '" />' +
      linkIcon(type) + ' ' +
      value +
      '</li>'
    );
    linkInput.value = '';
  }

function formInputType(type) {
  switch (type) {
    case 'email':
      return 'email';
    case 'phone':
      return 'tel';
    case 'link':
      return'url';
    default:
      return 'text';
  }
}

  function linkIcon(type) {
    var faClass = '';
    switch (type) {
      case 'email':
        faClass = 'fa-envelope-o'; break;
      case 'address':
        faClass = 'fa-map-marker'; break;
      case 'hyperlink':
        faClass = 'fa-link'; break;
      default:
        faClass = 'fa-'+ type; break;
    }
    return '<i class="fa ' + faClass + '" aria-hidden="true"></i>';
  }
</script>
<script>
  $('#type-selector label').click(function () {
    $('#type-selector input').parent().removeClass('selected');
    if($(this).children('input').is(':checked')) $(this).addClass('selected');
    linkInput.placeholder = $(this).data('placeholder');
    linkInput.type = formInputType($(this).data('type'));
    linkInput.setAttribute('data-type', $(this).data('type'));
  });
  $('#type-selector input:checked').parent().addClass('selected');
  linkInput.addEventListener('keypress', (event) => {
    if (event.which == 13 || event.keyCode == 13) {
            addLinkToCloud(linkInput.dataset.type, linkInput.value);
            return false;
        }
    return true;
  })
</script>
