<div class="main">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2  pure-u-xl-1-4 left-panel">
      <div class="grid-box">
        {{#if record.picture.emoji}}
          <div class="emoji-box">{{record.picture.emoji}}</div>
        {{else}}
          <div class="picture">
            <img src="{{pictureUrl record.picture record.type}}" alt="">
          </div>
        {{/if}}
        <h1>
          {{{record.name}}}
        </h1>
        {{#if record.intro}}
        <p id="intro">{{{record.intro}}}</p>
        {{/if}}
        {{#if canEdit}}
        <p id="edit-buttons" class="hide">
          <a id="edit-button" href="{{editUrl record._id organisation.tag}}" class="pure-button scale back-button">{{{__ "Edit profile"}}}</a>
          {{#if editCoverUrl}}
            <a id="cover-button-left" href="{{editCoverUrl}}" class="pure-button scale back-button">{{{__ "Change Cover"}}}</a>
          {{/if}}
          {{#if canDelete}}
            <a id="delete-button" href="{{deleteUrl record._id organisation.tag}}" class="pure-button scale back-button">{{{__ "Delete profile"}}}</a>
          {{/if}}
        </p>
        {{/if}}
      </div>
      <div class="grid-box cloud-list links">
        {{#record.links}}
        {{> link}}
        {{/record.links}}
        {{#if canEdit}}
        <a id="contacts-button" href="{{editUrl record._id organisation.tag 'links'}}" class="cloud-element link hide">
          <i class="fa fa-plus" aria-hidden="true"></i><span>{{__ "Add"}}</span>
        </a>
        {{/if}}
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-xl-3-4 right-panel">
      <div class="grid-box">
        <ul>
          {{#record.allHashtags}}
          {{> hashtag}}
          {{/record.allHashtags}}
          {{#if canEdit}}
            <a id="hashtags-button" href="{{editUrl record._id organisation.tag 'hashtags'}}" class="pure-button scale cloud-element hashtag"><span>{{__ "Add Wings"}}</span></a>
          {{/if}}
        </ul>
      </div>
      <div class="pure-u-1 pure-u-xl-2-3">
        <div class="grid-box about-box">
          <h2>
            {{#if editAboutUrl}}
              <a id="about-button" href="{{editAboutUrl}}" class="pure-button scale back-button hide"><span>{{__ "Edit about me"}}</span></a>
            {{/if}}
          </h2>
          <p id="description">{{{nl2br record.description}}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{> jquery}}
<script>
  $('.emoji-box').html(
    function() {
      return twemoji.parse($(this).text().trim(), {ext: '.svg', folder: 'svg',});
    }
  );
</script>
