<div class="main">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2  pure-u-xl-1-4 left-panel">
      <div class="grid-box">
        {{#if record.picture.emoji}}
          <div class="emoji-box">{{record.picture.emoji}}</div>
        {{else}}
          <div class="picture">
            <img src="{{pictureUrl record.picture record.type}}" alt="">
          </div>
        {{/if}}
        
        <h1>
          {{{record.name}}}
          {{#if canEdit}}
            <a class="edit-button pure-button scale back-button" href="{{editUrl record._id organisation.tag}}" title="{{{__ 'Edit profile'}}}"><img src="/plume.png" alt="edit_img"/></a>
          {{/if}}
        </h1>
        {{#if record.intro}}
          <p id="intro">{{{record.intro}}}</p>
        {{/if}}
        {{#if canEdit}}
        <p id="edit-buttons">
          {{#if editEmojiUrl}}
            <a id="emoji-button" href="{{editEmojiUrl}}" class="pure-button scale back-button">{{{__ "Change Emoji"}}}</a>
          {{/if}}
          {{#if editPicturePathUrl}}
            <a id="picture-path-button" href="{{editPicturePathUrl}}" class="pure-button scale back-button">{{{__ "Change Picture Path"}}}</a>
          {{/if}}
          {{#if editCoverUrl}}
            <a id="cover-button-left" href="{{editCoverUrl}}" class="pure-button scale back-button">{{{__ "Change Cover"}}}</a>
          {{/if}}
          {{#if promoteUrl}}
            <a id="promote-button" href="{{promoteUrl}}" class="pure-button scale back-button">{{{__ "Make Public"}}}</a>
          {{/if}}
          {{#if makeFeaturedWingsFamilyUrl}}
            <a id="feature-button" href="{{makeFeaturedWingsFamilyUrl}}" class="pure-button scale back-button">{{{__ "Make featured wings family"}}}</a>
          {{/if}}
          {{#if demakeFeaturedWingsFamilyUrl}}
            <a id="feature-button" href="{{demakeFeaturedWingsFamilyUrl}}" class="pure-button scale back-button">{{{__ "Remove from featured wings family"}}}</a>
          {{/if}}
        </p>
        {{/if}}
      </div>
      <div class="grid-box cloud-list links">
        {{#record.links}}
          {{> link}}
        {{/record.links}}
        {{#if canEdit}}
          <a id="contacts-button" href="{{editUrl record._id organisation.tag 'links'}}" class="cloud-element link">
            <i class="fa fa-plus" aria-hidden="true"></i><span>{{__ "Add"}}</span>
          </a>
        {{/if}}
        {{#if canDelete}}
           <a  onclick="delete_alert()" id="delete-button" href="{{deleteUrl record._id organisation.tag}}" class="pure-button back-button">{{{__ "Delete profile"}}}</a>
        {{/if}}
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-xl-3-4 right-panel">
      <div class="grid-box">
        <ul>
          {{#record.allHashtags}}
            {{> hashtag}}
          {{/record.allHashtags}}
          {{#if canEdit}}
            <a id="hashtags-button" href="{{editUrl record._id organisation.tag 'hashtags'}}" class="pure-button scale cloud-element hashtag"><span>{{__ "Add Wings"}}</span></a>
          {{/if}}
          {{#if canProposeWings}}
            <a id="hashtags-button" href="{{proposeWingsUrl record._id organisation.tag}}" class="pure-button scale cloud-element hashtag"><span>{{__ "Propose Wings"}}</span></a>
          {{/if}}
        </ul>
      </div>
      <div class="pure-u-1 pure-u-xl-2-3">
        <div class="grid-box about-box">
          {{#if canEdit}}
            <h2>
              {{#if editAboutUrl}}
                <span>{{__ "About me"}}</span><a class="edit-button scale back-button" href="{{editAboutUrl}}" title="{{{__ 'Edit about me'}}}"><img src="/plume.png" alt="edit_img"/></a>
              {{/if}}
            </h2>
          {{/if}}
          {{#if record.description}}
            <p id="description">{{{nl2br record.description}}}</p>
          {{else}}
            <p id="about_placehoolder">{{{__ "Who am I ..."}}}</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
{{> jquery}}
<script>
  $('.emoji-box').html(
      function () {
        return twemoji.parse($(this).text().trim(), {ext: '.svg', folder: 'svg',});
      }
  );
  var delete_alert = function () {
    window.alert("{{{__ "Do you really want to delete this awesome profile ?"}}}")
  }
</script>
