<div class="main org-{{organisation.tag}}">
  {{> subheader}}
  <div  id="search-results">
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="grid-box">
        <a id="show-more" class="pure-button scale">{{{__ "Show more"}}}</a>
      </div>
    </div>
  </div>
</div>
<div id="modal-layer">
</div>
{{> hits_template}}
{{> noone_template}}
<script type="text/template" id="hashtags-template">
  {{{{raw}}}}
    {{#hashtags}}
      <a href="" class="cloud-element hashtag add-tag" data-tag="{{value}}" data-name="{{value}}"><span>{{value}}</span><span class="count">{{count}}</span></a>
    {{/hashtags}}
  {{{{/raw}}}}
</script>
<script>
  var algoliaPublicKey = {{{json algoliaPublicKey}}};
  var isProduction = {{{json isProduction}}};
  var orgsIdsToTags = {{{json organisation.orgsIdsToTags}}}
</script>
{{> jquery}}
<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="//cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.common.js"></script>
<script src="/javascripts/selectize.min.js"></script>
<script src="/javascripts/search.js"></script>
