
<div class="main">
    {{#if usePremiumFeatures}}
    <div class="pure-g statistics-container">
        <div class="pure-u-1 pure-u-md-1-5" >
            <div class="pure-g-box" id="top-searched-wings">
                <h2> <i class="fa fa-bolt" aria-hidden="true"></i> {{{__ "Searches Top 10"}}}</h2>
                <ol>
                    {{#topWings}}
                        <li>{{{tag}}} ({{{counter}}})</li>
                    {{/topWings}}
                </ol>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-2-5">
            <div class="pure-u-1">
                <div class="pure-u-1-2">
                    <div class="pure-g-box" id="view-count">
                        <h2> <i class="fa fa-eye" aria-hidden="true"></i> {{{__ "Number of views"}}}</h2>
                        <h3>{{{__ "Number of views within the last 30 days"}}}</h3>
                        <p class="big-text">{{{viewCountLast30Days}}}</p>
                    </div>
                </div><!--

                --><div class="pure-u-1-2">
                    <div class="pure-g-box" id="search-count">
                        <h2> <i class="fa fa-search" aria-hidden="true"></i> {{{__ "Number of searches"}}}</h2>
                        <h3>{{{__ "Number of searches within the last 30 days"}}}</h3>
                        <p class="big-text">
                            {{{searchCountLast30Days}}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="pure-u-1">
                <div class="pure-g-box" id="users-growth">
                    <h2> <i class="fa fa-line-chart" aria-hidden="true"></i> {{{__ "Growth of the number of active users"}}}</h2>
                    <h3>{{{__ "Growth of the number of active users in your Wingzy"}}}</h3>
                    <p class="medium-text black">{{{__ "Coming soon..."}}}</p>
                </div>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-2-5">
            <div class="pure-u-1">
                <div class="pure-g-box" id="time-saved">
                    <h2> <i class="fa fa-clock-o"></i> {{{__ "Time saved with Wingzy"}}}</h2>
                    <h3>{{{__ "Each search on Wingzy allowing you to save time and money"}}}</h3>
                    <p class="medium-text">{{searchTimeSaved}}</p>
                </div>
            </div>

            <div class="pure-u-1" id="users-container">
                <div class="pure-u-1-2">
                    <div class="pure-g-box" id="users-actifs">
                        <h2> <i class="fa fa-users"></i> {{{__ "Active users"}}}</h2>
                        <h3>{{{__ "Users who have made actions last 30 days"}}}</h3>
                        <p class="big-text">{{{usersActifsCount}}}</p>
                    </div>
                </div><!--

                --><div class="pure-u-1-2">
                    <div class="pure-g-box" id="ask-us" onclick="mailToPremium()">
                        <h2> <i class="fa fa-envelope" aria-hidden="true"></i> {{{__ "An idea ?"}}}</h2>
                        <h3>{{{__ "You need an other statistic ? Contact us"}}}</h3>
                        <p class="big-text">
                            <i class="fa fa-plus" aria-hidden="true"></i><br/>
                            <a class="ask-us-link" id="ask-us-link" href="mailto:premium@wingzy.com?subject={{{__ "Idea for the statistics dashboard"}}}">{{{__ "premium@wingzy.com"}}}</a>
                        </p>
                    </div>
                </div>
            </div>    
        </div>
        {{/if}}
</div>

<script>

    let mailToPremium = function(){
        document.getElementById('ask-us-link').click();
    }
</script>