{{!
@Author: Clément Dietschy <bedhed>
@Date:   10-4-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 03-05-2017 02:14
@Copyright: Clément Dietschy 2017
@todo deduplicate wiew code with partials/hit_template.hbs
}}
<form action="{{formAction}}" enctype="multipart/form-data" method="post" class="pure-form">
  <div class="main edit">
    <div class="pure-g">
      <div class="pure-u-1">
        <ul class="errors">
          {{#errors}}
          <li><i class="fa fa-hand-paper-o" aria-hidden="true"></i> {{msg}}</li>
          {{/errors}}
        </ul>
        <ul class="successes">
          {{#successes}}
          <li><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{msg}}</li>
          {{/successes}}
        </ul>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-6 pure-u-md-1-6">
        <h1 class="reward"><i class="fa fa-cloud-upload" aria-hidden="true"></i></h1>
      </div>
      <div class="pure-u-5-6">
        <div class="central">
          <h2>{{title}}</h2>
          <p>{{{details}}}</p>
          <p><input type="file" name="file"></p>
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <p class="validate"><input type=submit class="pure-button button-success save-input" value="Save"></p>
      </div>
    </div>
  </div>
</form>
