<div id="bottom-right">
  {{#if canAdd}}{{{addLink user organisation}}}{{/if}}
  {{{profileLink user organisation}}}
  {{#if intro}}<a id="start-intro" title="{{__ "Help Tutorial"}}" class="fa fa-info-circle" aria-hidden="true" onclick="startIntro()"></a>{{/if}}
  {{#if beta}}
  <a id="join-beta" title="{{__ "Join the private beta"}}" class="fa fa-play-circle" aria-hidden="true" href="{{url null null}}"></a>
  {{/if}}
</div>
