<script>
function introSteps() {
    return [
    {
      intro: "<h2>{{{__ 'The Obvious Tool'}}}</h2><p><img src='/images/mindblown.gif' class='pure-img'></p><p>{{{__ 'In a startup, a society or a corporation, Lenom is the obvious tool to find each other.'}}}</p>"
    },
    {
      element: document.querySelector('#search'),
      intro: "<h2>{{{__ 'A Fast Search Engine'}}}</h2><p><img src='/images/find.gif' class='pure-img'></p><p>{{{__ 'Find the coworker you need by name and keywords: position, team, project, location, interests...'}}}</p>",
      position: 'bottom-middle-aligned'
    },
    {
      element: introWide ? introRecord1.querySelector('.description.full') : introRecord0.querySelector('.description.snippet') ,
      intro: "<h2>{{{__ 'Open Profiles'}}}</h2><p><img src='/images/discover.gif' class='pure-img'></p><p>{{{__ 'We are free to introduce ourselves the way we want on Lenom.'}}}</p>",
      position: introWide ? 'right' : 'bottom-middle-aligned'
    },
    {
      element: introWide ? introRecord1.querySelector('.links') : introRecord0.querySelector('.links'),
      intro: "<h2>{{{__ 'Direct Contacts'}}}</h2><p><img src='/images/add.gif' class='pure-img'></p><p>{{{__ 'Lenom is just here to find the right communication tool to contact someone.'}}}</p>",
      position: introWide ? 'right' : 'bottom-middle-aligned'
    },
    {
      intro: "<h2>{{{__ 'Safe and effortless'}}}</h2><p><img src='/images/join.gif' class='pure-img'></p><p>{{{__ 'Lenom integrates with Google, Slack and your email domain to secure access and pre-fill profiles.'}}}</p><p><a href='https://wingzy.io'><strong><i class=\'fa fa-play-circle\' aria-hidden=\'true\'></i> {{{__ 'Join the private beta'}}}</strong></a></p>"
    }
  ];
}
</script>
