{{!
@Author: Clément Dietschy <bedhed>
@Date:   09-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 18-07-2017 03:57
@Copyright: Clément Dietschy 2017
}}
<div class="cheers main">
  <div class="banner">
    {{> credit}}
  </div>
  <div class="triptic pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <h2>{{__ "You joined the Beta"}}</h2>
      <p>{{__ "Great to have you on board. We'll contact you by email as soon as a spot is available."}}</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <h2>{{__ "Let's meet!"}}</h2>
      <p>{{{__ "We love sharing beers & feedback. Come and meet the team every wednesday at 6PM, at <a href='https://goo.gl/maps/3GpvJydbTQQ2'>Café Place Verte in Paris</a>."}}}</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <h2>{{__ "Got 2 minutes more?"}}</h2>
      <p>{{__ "Please, help us understand your needs better by taking this poll about your work environment."}}</p>
      <p><a class="poll-button pure-button" onclick="alert('{{__ "Sorry, the poll is not ready yet."}}')">{{__ "Answer 7 questions"}}</a></p>
    </div>
  </div>
</div>
