<div class="main home-page container">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <div class="row landing">
    <div class="col xl4 hide-on-med-and-down main-picture">

    </div>
    <div class="col xl6 push-xl1 m10 push-m1 s10 push-s1 landing-content">
      <div class="center-align">
        <div class="row">
          <h1>{{__ "Accelerate collaboration"}}</h1>
        </div>
        <div class="row">
          <h3>
            {{{__ "Wingzy is finally a pertinent and efficient enterprise directory ! The app to find the coworkers you need through their Wings: their talents, skills, and energies."}}}
          </h3>          
        </div>
        <div class="row">
          <a class="waves-effect waves-light btn-large cta" href="/login">
            {{{__ "Find your Wings"}}}
          </a>          
        </div>
      </div>  
    </div>
  </div>

  <div class="row whywingzy1 flex section">

    <div class="row">
      <div class="col xl5 offset-xl2 m8 offset-m2 subheader s10 offset-s1 valign-wrapper">
        <div>
          <div class="row">
            <h1>What Wingzy is</h1>
            <p>
              {{{__ "An intuitive app to reveal between coworkers all your Wings : your talents, skills and energies.
              A fast search engine to find help at work within seconds.
              A simple solution to accelerate collaboration between your teams, perfectly integrated with your existing tools.
              "}}}
            </p>
          </div>
          <div class="row margin-me">
            <h1>What Wingzy is not</h1>
            <p>
              {{{__ "Wingzy is not a social network, not a discussion tool, nor a recruitment tool. Wingzy is your enterprise directory that finds all your Wings : your talents, skills and energies!"}}}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div class="row whywingzy2 section">

    <div class="row">
      <div class="col xl6 offset-xl3 m10 offset-m1 subheader s10 offset-s1">
        <h1>{{{__ "4 simple steps"}}}</h1>
      </div>
    </div>

    <div class="col xl8 offset-xl2 s8 offset-s2 m8 offset-m2">
      <div class="row row1">
        <div class="row before">
          <div class="before-before"></div>
          <div class="arrow-before-before">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
          </div>
          <div class="next-arrow">
        </div>
        
      </div>

        <div class="col m6 s6">
          <div class="col xl10 center-align offset-xl1 offset-m1 content m10 s12">
            <div class="col xl10 center-align offset-xl1 content-elt m10 s12 offset-m1">
              <div>
                <img src="/images/home/step2.PNG"/>
                <p>{{{__ "Create your profile"}}}</p>
              </div>
            </div>
            <a class="btn-floating btn-large waves-effect waves-light step-bulle">1</a>
          </div>          
        </div>

        <div class="col m6 s6">
          <div class="col xl10 center-align offset-xl1 offset-m1 content m10 s12">
            <div class="col xl10 center-align offset-xl1 content-elt m10 s12 offset-m1">
              <div>
                <img src="/images/home/Picto2.png"/>
                <p>{{{__ "Invite your coworkers"}}}</p>
              </div>
            </div>
            <a class="btn-floating btn-large waves-effect waves-light step-bulle">2</a>
          </div>          
        </div>
      </div>

      <div class="row row2">
        <div class="col m6 s6">
          <div class="col xl10 center-align offset-xl1 offset-m1 content m10 s12">
            <div class="col xl10 center-align offset-xl1 content-elt m10 s12 offset-m1">
              <div>
                <img src="/images/home/Picto4.png"/>
                <p>{{{__ "Collaborate fast"}}}</p>
              </div>
            </div>
            <a class="btn-floating btn-large waves-effect waves-light step-bulle">4</a>
          </div>          
        </div>
        
        <div class="col m6 s6">
          <div class="col xl10 center-align offset-xl1 offset-m1 content m10 s12">
            <div class="col xl10 center-align offset-xl1 content-elt m10 s12 offset-m1">
              <div>
                <img id="coworkers" src="/images/home/Picto3.png"/>
                <p>{{{__ "Find the coworker you need"}}}</p>
              </div>
            </div>
            <a class="btn-floating btn-large waves-effect waves-light step-bulle">3</a>
          </div>          
        </div>
      </div>
      <div class="row next">
        <div class="next-arrow">
        <div class="arrow-bottom">
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </div>
        </div>
        
      </div>

    </div>
  </div>


  <div class="row tech section">
    <div class="tech-center">
    <div class="row">
      <div class="col xl6 offset-xl3 m10 offset-m1 subheader s10 offset-s1">
        <h1>{{{__ "Human centric tech"}}}</h1>
      </div>
    </div>

    <div class="col xl8 offset-xl2 m10 offset-m1 s10 offset-s1 tech-details">
      <div class="row flex">
      <div class="col xl4 m12 s12 tech-details-col">
          <div class="col xl12 m12 s12">
            <h2>{{{__ "Artificial Intelligence"}}}</h2>
            <p>
              {{{__ "Wingzy purpose is to reveal all your Wings : your talents, skills and energies.
Whatever your crafts, titles, expertises... Whatever your language, organization or company... Wingzy helps everyone find their  Wings thanks to machine learning."}}}
            </p>
          </div>
      
      </div>

      <div class="col xl4 m12 s12 tech-details-col">
          <div class="row">
            <h2>{{{__ "Perfect Integration"}}}</h2>
            <p>
              {{{__ "Not “yet one more tool”: Wingzy adapts to your environment and guides your coworkers towards the best place to work."}}}
            </p>
            <div class="row integrations">
              <div class="col xl8 offset-xl2 m8 offset-m2 s10 offset-s1">
                <div class="col xl4 m4 s4 content-img">
                  <a href="https://www.google.com/" rel="nofollow"><img src="https://developers.google.com/identity/images/g-logo.png" alt="Logo de Google"/></a>
                </div>
                <div class="col xl4 m4 s4 content-img">
                  <a href="https://slack.com" rel="nofollow"><img src="/images/home/slack.png" alt="Logo de Slack"/></a>
                </div>
                <div class="col xl4 m4 s4 content-img">
                  <a href="https://www.facebook.com/workplace/" rel="nofollow"><img src="/images/home/workplace.png" alt="Logo de Workplace by Facebook"/></a>
                </div>
              </div>
            </div>
            <p>
              {{{__ "Integration missing? <br/><a href='mailto:premium@wingzy.io'>Contact us!</a>"}}}
            </p>
          </div>
      </div>

      <div class="col xl4 m12 s12 notMe tech-details-col">
          <div class="row">
            <h2>{{{__ "Our team full of Wings"}}}</h2>
            <p>
              {{{__ "No matter how fast your organization is changing.
No matter how big your collaborative vision is growing.
Wingzy’s team helps you design and execute your strategy through employee centric design thinking.
"}}}        <br/>
            <a class="waves-effect waves-light btn-small cta-meet-us" href="mailto:contact@wingzy.com">{{{__ "Meet our team"}}}</a>
            </p>
          </div>      
          
      </div>
      </div>
    </div>
    </div>
  </div>







  <div class="row supports section">

    <div class="row">
      <div class="col xl8 offset-xl2 m10 offset-m1 s10 offset-s1">
        <h1>{{{__ "They support us"}}}</h1>
        <h3>
        </h3>
      </div>
    </div>

    <div class="carousel">

      <a class="carousel-item card-panel" href="#one!">
        <img src="/images/home/supports/henri_lachmann.jpg" alt="Picture of a person" class="soutien-author-picture">
        <img src="/images/home/supports/schneider_electric.png" alt="Logo of organisation" class="soutien-author-organisation"/>
        <p>
          {{{__ "\"Wingzy allows us to know the skills and experiences of everyone, and to spread or access them quickly.\""}}}
            <br/><br/>
            <i class="fa fa-play" aria-hidden="true"></i><button class="supports-button-video" onclick="goTo('{{{__ "https://www.youtube.com/watch?v=hzoN5oVQTHc"}}}')">Voir l'interview</button>
        </p>
        <div class="soutien-author">
          <h3>{{{__ "Henri Lachmann"}}}</h3>
          <span>{{{__ "Former President of Schneider Electric"}}}</span>
        </div>
      </a>

      <a class="carousel-item card-panel" href="#two!">
        <img src="/images/home/genevieve_garrigos.jpeg" alt="Picture of a person" class="soutien-author-picture">
        <img src="/images/home/supports/amnesty_international_logo.PNG" alt="Logo of organisation" class="soutien-author-organisation"/>
        <p>
          {{{__ "\"I have been impressed by the attention given to the protection of personal data on Wingzy. An example to follow !\""}}}
        </p>
        <div class="soutien-author">
          <h3>{{{__ "Geneviève Garrigos"}}}</h3>
          <span>{{{__ "Former president of Amnesty International"}}}</span>
        </div>
      </a>

      <a class="carousel-item card-panel" href="#three!">
        <img src="/images/home/jerome_giusti.jpeg" alt="Picture of a person" class="soutien-author-picture">
        <p>
          {{{__ "\"On Wingzy, anyone has the control on its personal data. This is thanks to accessible tools and links.\""}}}
        </p>
        <div class="soutien-author">
          <h3>{{{__ "Jérôme Giusti"}}}</h3>
          <span>{{{__ "Lawyer at 'Barreau de Paris'"}}}</span>
        </div>
      </a>

      <a class="carousel-item card-panel" href="#four!">
        <img src="/images/home/philippe_caquet.jpeg" alt="Picture of a person" class="soutien-author-picture">
        <img src="/images/home/supports/boostrh_logo.png" alt="Logo of organisation" class="soutien-author-organisation"/>

        <p>
          {{{__ "\"Wingzy is an app which create social links between coworkers. It reveal a new way of working.\""}}}
        </p>
        <div class="soutien-author">
          <h3>{{{__ "Philippe Caquet"}}}</h3>
          <span>{{{__ "President of Boost'rh group"}}}</span>
        </div>
      </a>

      <a class="carousel-item card-panel" href="#five!">
        <img src="/images/home/adeline.png" alt="Picture of a person" class="soutien-author-picture">
        <img src="/images/home/supports/article1-logo.png" alt="Logo of organisation" class="soutien-author-organisation"/>
        <p>
          {{{__ "\"The principe is great. Especially in the growing context in which I work. When I see an email with a name I don't know, I have the Wingzy reflex.\""}}}
        </p>
        <div class="soutien-author">
          <h3>{{{__ "Adeline"}}}</h3>
          <span>{{{__ "User of the Wingzy of Article 1"}}}</span>
        </div>
      </a>

    </div>
  </div>






  <div class="row partners section">
    <div class="row">
      <div class="col xl8 offset-xl2 m10 offset-m1 s10 offset-s1">
        <h1>{{{__ "They already trust us"}}}</h1>
        
      </div>
    </div> 
    
    <div class="col xl8 offset-xl2 m10 offset-m1 s10 offset-s1 partners-details">
      <div class="row">
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/logo-Schoolab.png"/>
        </div>
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/Logo_LabRH.png"/>
        </div>
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/logomeridiam_0.jpg"/>
        </div>
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/jarvis.png"/>
        </div>
      </div>

      <div class="row">
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/article1.png"/>
        </div>
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/diffleaders.jpeg"/>
        </div>
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/engagement.png"/>
        </div>
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/happytech.jpeg" />
        </div>
      </div>

    </div>

  </div>

  <div class="row login">
    
  </div>

</div>

{{> jquery}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
$(function() {
  var header = $("header");
  $(window).scroll(function() {
      var scroll = $(window).scrollTop();
      if (scroll >= 1) {
          header.addClass("opaque");
      } else {
          header.removeClass("opaque");
      }
  });
});
</script>
<script>
$(document).ready(function(){
 
      $('.carousel').carousel(
        {

        }
      ); 
});
function goTo(url) {
        var link = document.createElement("a");
        link.id = 'newLinkToClick';
        link.href = url;
        link.target = "_blank";
        document.body.appendChild(link);
        document.getElementById('newLinkToClick').click();
}
</script>
<!--Start of HubSpot Embed Code-->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4894133.js"></script>
<!-- End of HubSpot Embed Code -->
