<div class="main">
  <div class="epic">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3 pure-u-xl-1-3 epic-placeholder">
      </div>
      <div class="pure-u-1 pure-u-md-2-3 pure-u-xl-2-3">
        <div class="grid-box">
          <h1>{{{__ 'Spread<span></span><br>your Wings'}}}</h1>
          <h3>{{{__ 'Wingzy is the obvious app to find the coworkers you need by skills and passions'}}}</h3>
          <p><a href="#wings">{{__ 'Learn more'}}</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="pure-g pure-g-anyone">
    <div class="pure-u-1">
      <div class="grid-box">
        <h3>{{__ 'Anyone can install Wingzy in any organisation, it\'s simple, it\'s free, and it\'s secured just for you and your coworkers'}}</h3>
      </div>
    </div>
  </div>
  {{> signin_form}}
  <div class="wings" id="wings">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 wings-placeholder">
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="grid-box">
          <h1>{{__ 'Reveal'}}</h1>
          <h2>{{{__ '<strong>Your skills and passions</strong><br>with IA powered hashtags'}}}</h2>
          <img class="screenshot" src="/images/home/wings.gif">
        </div>
      </div>
    </div>
  </div>
  <div class="search">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="grid-box">
          <h1>{{__ 'Contact'}}</h1>
          <h2>{{{__ '<strong>The coworker you need</strong><br>with a clever search engine'}}}</h2>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="grid-box">
          <img class="screenshot" src="/images/home/search.gif">
        </div>
      </div>
    </div>
    <div class="books">
    </div>
  </div>
  <div class="availability">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="grid-box">
          <h1>{{__ 'Protect'}}</h1>
          <h2>{{{__ '<strong>Your time and focus</strong><br>with one click on the availability switch'}}}</h2>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="grid-box">
          <div class="screenshot placeholder">GIF AVAILABILITY TOOL</div>
        </div>
      </div>
    </div>
    <div class="coffee">
    </div>
  </div>
  <div class="more">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="grid-box">
          <h1>{{__ 'More Wingzy'}}</h1>
          <p class="more-item">{{__ 'Protecting your personal data'}}</p>
          <p class="more-item">{{__ 'Integration with Google, Slack and Office 365'}}</p>
          <p class="more-item">{{__ 'Shaping the Future of Work'}}</p>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="grid-box second-signin">
          <h3>{{__ 'Test Wingzy in your Organisation for free'}}</h3>
        </div>
        {{> signin_form}}
      </div>
    </div>
  </div>
</div>
