<div class="main home-page">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <div class="row landing">
    <div class="container">
      <div class="col xl7 offset-xl5 l8 offset-l4 m8 offset-m2 s12 landing-content">
        <h1>{{__ "Accelerate collaboration"}}</h1>
        <p>
          {{{__ "Wingzy is finally a pertinent and efficient enterprise directory ! The app to find the coworkers you need through their Wings: their talents, skills, and energies."}}}
        </p>
        <p>
          <a class="waves-effect waves-light btn-large cta" href="/login">
            {{{__ "Try in your company"}}}
          </a>
        </p>
        <div class="cta-video"><a href="https://www.youtube.com/watch?v=rBy5C9BmjP8" target="_blank"></a></div>
      </div>
    </div>
  </div>

  <div class="row whywingzy1 section">
    <div class="container">
      <div class="col l6 s12">
        <h2>{{{__ "What Wingzy is"}}}</h2>
        <p>
            {{{__ "An intuitive app to reveal between coworkers all your Wings : your talents, skills and energies.
  A fast search engine to find help at work within seconds.
  A simple solution to accelerate collaboration between your teams, perfectly integrated with your existing tools."}}}
        </p>
        <h2 class="margin-me">{{{__ "What Wingzy is not"}}}</h2>
        <p>
          {{{__ "Wingzy is not a social network, not a discussion tool, nor a recruitment tool. Wingzy is your enterprise directory that finds all your Wings : your talents, skills and energies!"}}}
        </p>
      </div>
    </div>
  </div>

  <div class="row whywingzy2 section">
    <div class="row">
      <div class="col xl8 offset-xl2 m10 offset-m1 s10 offset-s1">
        <h2>{{{__ "4 simple steps"}}}</h2>
      </div>
    </div>

    <div class="col xl8 offset-xl2 s8 offset-s2 m8 offset-m2">
      <div class="row row1">
        <div class="row before">
          <div class="before-before"></div>
          <div class="arrow-before-before">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
          </div>
          <div class="next-arrow">
        </div>
      </div>

        <div class="col m6 s6">
          <div class="col xl10 center-align offset-xl1 offset-m1 content m10 s12">
            <div class="col xl10 center-align offset-xl1 content-elt m10 s12 offset-m1">
              <div>
                <img src="/images/home/step2.PNG"/>
                <p>{{{__ "Create your profile"}}}</p>
              </div>
            </div>
            <a class="btn-floating btn-large waves-effect waves-light step-bulle">1</a>
          </div>
        </div>

        <div class="col m6 s6">
          <div class="col xl10 center-align offset-xl1 offset-m1 content m10 s12">
            <div class="col xl10 center-align offset-xl1 content-elt m10 s12 offset-m1">
              <div>
                <img src="/images/home/Picto2.png"/>
                <p>{{{__ "Invite your coworkers"}}}</p>
              </div>
            </div>
            <a class="btn-floating btn-large waves-effect waves-light step-bulle">2</a>
          </div>
        </div>
      </div>

      <div class="row row2">
        <div class="col m6 s6">
          <div class="col xl10 center-align offset-xl1 offset-m1 content m10 s12">
            <div class="col xl10 center-align offset-xl1 content-elt m10 s12 offset-m1">
              <div>
                <img src="/images/home/Picto4.png"/>
                <p>{{{__ "Collaborate fast"}}}</p>
              </div>
            </div>
            <a class="btn-floating btn-large waves-effect waves-light step-bulle">4</a>
          </div>
        </div>

        <div class="col m6 s6">
          <div class="col xl10 center-align offset-xl1 offset-m1 content m10 s12">
            <div class="col xl10 center-align offset-xl1 content-elt m10 s12 offset-m1">
              <div>
                <img id="coworkers" src="/images/home/Picto3.png"/>
                <p>{{{__ "Find the coworker you need"}}}</p>
              </div>
            </div>
            <a class="btn-floating btn-large waves-effect waves-light step-bulle">3</a>
          </div>
        </div>
      </div>
      <div class="row next">
        <div class="next-arrow">
        <div class="arrow-bottom">
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row tech section">
    <div class="container">
      <div class="col s12">
        <h2>{{{__ "Human centric tech"}}}</h2>
      </div>
      <div class="col l4 s12">
        <h3>{{{__ "Artificial Intelligence"}}}</h3>
        <p>
          {{{__ "Wingzy purpose is to reveal all your Wings : your talents, skills and energies.
  Whatever your crafts, titles, expertises... Whatever your language, organization or company... Wingzy helps everyone find their  Wings thanks to machine learning."}}}
        </p>
      </div>
      <div class="col l4 s12">
        <h3>{{{__ "Perfect Integration"}}}</h3>
        <p>
          {{{__ "Not “yet one more tool”: Wingzy adapts to your environment and guides your coworkers towards the best place to work."}}}
        </p>
        <div class="row integrations">
           <div class="col s4 content-img">
              <a href="https://www.google.com/" rel="nofollow"><img src="https://developers.google.com/identity/images/g-logo.png" alt="Google"/></a>
            </div>
            <div class="col s4 content-img">
              <a href="https://slack.com" rel="nofollow"><img src="/images/home/slack.png" alt="Slack"/></a>
            </div>
            <div class="col s4 content-img">
              <a href="https://www.facebook.com/workplace/" rel="nofollow"><img src="/images/home/workplace.png" alt="Facebook"/></a>
            </div>
        </div>
        <p class="align-center">
          {{{__ "Integration missing? <br/><a href='mailto:premium@wingzy.io'>Contact us!</a>"}}}
        </p>
      </div>
      <div class="col l4 s12">
        <h3>{{{__ "Our team full of Wings"}}}</h3>
        <p>
          {{{__ "No matter how fast your organization is changing.
  No matter how big your collaborative vision is growing.
  Wingzy’s team helps you design and execute your strategy through employee centric design thinking.
  "}}}
        </p>
        <p class="align-center">
          <a class="waves-effect waves-light btn-small cta-meet-us" href="https://team.wingzy.com">{{{__ "Meet our team"}}}</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row supports section">

    <div class="row">
      <div class="col xl8 offset-xl2 m10 offset-m1 s10 offset-s1">
        <h2>{{{__ "They support us"}}}</h2>
      </div>
    </div>

    <div class="carousel">
      <a class="carousel-item card-panel" href="#one!">
        <img src="/images/home/supports/henri_lachmann.jpg" alt="Picture of a person" class="soutien-author-picture">
        <img src="/images/home/supports/schneider_electric.png" alt="Logo of organisation" class="soutien-author-organisation"/>
        <p>
          {{{__ "Wingzy permet de connaître les compétences et expériences et de la diffuser ou d'avoir un accès rapide"}}}
            <br/><br/>
            <i class="fa fa-play" aria-hidden="true"></i><button class="supports-button-video" onclick="goTo('{{{__ "https://www.youtube.com/watch?v=hzoN5oVQTHc"}}}')">Voir l'interview</button>
        </p>
        <div class="soutien-author">
          <h3>{{{__ "Henri Lachmann"}}}</h3>
          <span>{{{__ "Former President of Schneider Electric"}}}</span>
        </div>
      </a>

      <a class="carousel-item card-panel" href="#two!">
        <img src="/images/home/genevieve_garrigos.jpeg" alt="Picture of a person" class="soutien-author-picture">
        <img src="/images/home/supports/amnesty_international_logo.PNG" alt="Logo of organisation" class="soutien-author-organisation"/>
        <p>
          {{{__ "J'ai été impressionnée par l'attention apportée à la protection de nos données personnelles sur Wingzy. Un exemple à suivre !"}}}
        </p>
        <div class="soutien-author">
          <h3>{{{__ "Geneviève Garrigos"}}}</h3>
          <span>{{{__ "Former president of Amnesty International"}}}</span>
        </div>
      </a>

      <a class="carousel-item card-panel" href="#three!">
        <img src="/images/home/jerome_giusti.jpeg" alt="Picture of a person" class="soutien-author-picture">
        <p>
          {{{__ "Sur Wingzy, seul-es les employé-es peuvent avoir le contrôle des informations qui les concernent, via des outils et des liens hyper accessibles."}}}
        </p>
        <div class="soutien-author">
          <h3>{{{__ "Jérôme Giusti"}}}</h3>
          <span>{{{__ "Lawyer at 'Barreau de Paris'"}}}</span>
        </div>
      </a>

      <a class="carousel-item card-panel" href="#four!">
        <img src="/images/home/philippe_caquet.jpeg" alt="Picture of a person" class="soutien-author-picture">
        <img src="/images/home/supports/boostrh_logo.png" alt="Logo of organisation" class="soutien-author-organisation"/>

        <p>
          {{{__ "Wingzy est une application fort intéressante qui permet de mettre enfin du lien entre les salarié-es. Elle reflète une nouvelle génération de façon de faire."}}}
        </p>
        <div class="soutien-author">
          <h3>{{{__ "Philippe Caquet"}}}</h3>
          <span>{{{__ "President of Boost'rh group"}}}</span>
        </div>
      </a>

      <a class="carousel-item card-panel" href="#five!">
        <img src="/images/home/adeline.png" alt="Picture of a person" class="soutien-author-picture">
        <img src="/images/home/supports/article1-logo.png" alt="Logo of organisation" class="soutien-author-organisation"/>
        <p>
          {{{__ "Le principe est super, surtout dans le contexte de croissance dans laquelle je travaille. Quand je vois un prénom dans une boucle de mail que je ne reconnais pas, j'ai le réflexe Wingzy."}}}
        </p>
        <div class="soutien-author">
          <h3>{{{__ "Adeline"}}}</h3>
          <span>{{{__ "User of the Wingzy of Article 1"}}}</span>
        </div>
      </a>
    </div>
  </div>

  <div class="row partners section">
    <div class="row">
      <div class="col xl8 offset-xl2 m10 offset-m1 s10 offset-s1">
        <h2>{{{__ "They already trust us"}}}</h2>
      </div>
    </div>

    <div class="col xl8 offset-xl2 m10 offset-m1 s10 offset-s1 partners-details">
      <div class="row">
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/logo-Schoolab.png"/>
        </div>
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/salutem.svg"/>
        </div>
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/logomeridiam_0.jpg"/>
        </div>
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/jarvis.png"/>
        </div>
      </div>

      <div class="row">
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/article1.png"/>
        </div>
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/Logo_LabRH.png"/>
        </div>
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/engagement.png"/>
        </div>
        <div class="col xl3 m3 s6">
          <img src="/images/home/partners/happytech.jpeg" />
        </div>
      </div>
    </div>
  </div>
  <div class="row login">
  </div>
</div>

{{> jquery}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
$(function() {
  var header = $("header");
  $(window).scroll(function() {
      var scroll = $(window).scrollTop();
      if (scroll >= 1) {
          header.addClass("opaque");
      } else {
          header.removeClass("opaque");
      }
  });
});
</script>
<script>
$(document).ready(function(){

      $('.carousel').carousel(
        {

        }
      );
});
function goTo(url) {
        var link = document.createElement("a");
        link.id = 'newLinkToClick';
        link.href = url;
        link.target = "_blank";
        document.body.appendChild(link);
        document.getElementById('newLinkToClick').click();
}
</script>
<!--Start of HubSpot Embed Code-->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4894133.js"></script>
<!-- End of HubSpot Embed Code -->
