{{!
@Author: Clément Dietschy <bedhed>
@Date:   09-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 18-07-2017 03:57
@Copyright: Clément Dietschy 2017
}}
<div class="pricing main">
  <div class="banner">
  </div>
  <div class="pure-g">
    <div class="pricing-0eur pure-u-1 pure-u-md-1-3">
      <h2>{{__ "0 €"}}</h2>
      <h3>{{__ "free forever"}}</h3>
      <p class="subtitle">{{__ "Try the service for free and help us improve it!"}}</p>
      {{{__ "<p>Up to 1000 people</p><p>Up to 50 active users</p>"}}}
    </div>
    <div class="pricing-2eur pure-u-1 pure-u-md-1-3">
      <h2>{{__ "2 €"}}</h2>
      <h3>{{__ "per monthly active user"}}</h3>
      <p class="subtitle">{{__ "All the features for all coworkers."}}</p>
      {{{__ "<p>Unlimited people</p><p>Unlimited users</p>"}}}
      <p class="soon">{{__ "Coming soon"}}</p>
    </div>
    <div class="pricing-10eur pure-u-1 pure-u-md-1-3">
      <h2>{{__ "10 €"}}</h2>
      <h3>{{__ "per monthly active user"}}</h3>
      <p class="subtitle">{{__ "Tailored service for high-end needs."}}</p>
      {{{__ "<p>Unlimited people</p><p>Unlimited users</p><p>Dedicated Transition Manager</p><p>Dedicated Cluster</p>"}}}
      <p class="soon">{{__ "Coming soon"}}</p>
    </div>
  </div>
  <div class="pure-g">
    <p class="yearly">
      <a href="mailto:contact@lenom.io">{{__ "You would rather pay a yearly fixed price? Contact us to get a quote."}}</a>
    </p>
  </div>
  <div class="pure-g">
    <div class="signup pure-u-1">
      {{> home_form}}
    </div>
  </div>
</div>
