<div class="main">
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h1 id="use" class="align-center">{{__ "Pricing"}}</h1>
      </div>
    </div>
  </div>
  <div class="pure-g tarif-box">
    <div class="pure-u-1 pure-u-md-1-3 pricing-box free">
      <div class="grid-box price">
        <h2>{{__ "Free"}}</h2>
        <h2>{{__ "0€"}}</h2>
        <h3>{{__ "free forever"}}</h3>
        {{{__ "<p><span>&#10003;</span>Unlimited Coworkers</p><p><span>&#10003;</span>Unlimited Wings</p><p><span>&#10003;</span>Up to 1000 Searches per month</p>"}}}
        <h3>{{{__ "unlimited searches for associations and non-profit"}}}</h3>
      </div>
       <a class="pure-button pricing-button" href="{{url "login" organisation.tag}}" title="{{__ 'Try now !'}}"> {{{__ "Try now !"}}}</a>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pricing-box premium">
      <div class="grid-box price">
        <h2>{{__ "Premium"}}</h2>
        <h2>{{__ "2€"}}</h2>
        <h3>{{__ "per monthly active user"}}</h3>
        {{{__ "<p><span>&#10003;</span>Unlimited Coworkers</p><p><span>&#10003;</span>Unlimited Wings</p><p><span>&#10003;</span>Unlimited Searches</p><p><span>&#10003;</span>Targeted emails</p><p><span>&#10003;</span>Statistic</p>"}}}
        <h3>{{{__ "also available at <strong>15€</strong> per year per user"}}}</h3>
      </div>
      <a class="pure-button pricing-button" href="mailto:premium@wingzy.io" title="{{__ 'Contact us'}}"> {{{__ "Contact us"}}}</a>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pricing-box free">
      <div class="grid-box price">
        <h2>{{__ "Tailored"}}</h2>
        <h2>{{__ "10€"}}</h2>
        <h3>{{__ "per monthly active user"}}</h3>
        {{{__ '<p><span>&#10003;</span>Tailor-made service for high-end needs</p><p><span>&#10003;</span>Integrated with your tools</p><p><span>&#10003;</span>Contact us for a detailed quote</p>'}}}
        <h3 >{{{__ "also available for annual fee"}}}</h3>
      </div>
      <a class="pure-button pricing-button" href="mailto:premium@wingzy.io" title="{{__ 'Contact us'}}"> {{{__ "Contact us"}}}</a>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="grid-box">
        <img src="/images/cat.png" class="pure-img">
      </div>
    </div>
  </div>
</div>
