{{!
@Author: Clément Dietschy <bedhed>
@Date:   09-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 18-07-2017 03:57
@Copyright: Clément Dietschy 2017
}}
{{> banner position='top'}}
<div class="main">
  <div class="pure-g">
    <div class="pure-intro pure-u-1">
      <p class="introduction tiltr">{{{__ 'Human beings are the <i class="fa fa-heart fa-red" aria-hidden="true"></i> of any organization'}}}</p>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        <img src='/images/mindblown.gif' class='pure-img'>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-2-3">
      <div class="grid-box">
        <h2 class="big">{{{__ 'The Obvious Tool'}}}</h2>
        <p class="big">{{{__ 'Wheather we are in a startup, a non-profit society or a large corporation, the essential need is to know the people we work with. Lenom is the obvious tool to find, discover and reach them.'}}}</p>
      </div>
    </div>
  </div>
  {{> banner}}
  <div class="pure-g">
    <div class="pure-intro pure-u-1">
      <p class="introduction">{{{__ 'We simply need to <strong>Find</strong> each other'}}}</p>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-2-3">
      <div class="grid-box">
        <h2 class="big">{{{__ 'A Fast Search Engine'}}}</h2>
        <p class="big">{{{__ 'Find the people you need by name and keywords: position, team, project, location, interests... anything that comes to mind actually. Lenom searches through everyone in your organization instantly.'}}}</p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        <img src='/images/find.gif' class='pure-img'>
      </div>
    </div>
  </div>
  {{> banner}}
  <div class="pure-g">
    <div class="pure-intro pure-u-1">
      <p class="introduction tiltf">{{{__ '<strong>Discover</strong> how incredible people are'}}}</p>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        <h2 class="big">{{{__ 'Open Profiles'}}}</h2>
        <p class="big">{{{__ 'We are free to introduce ourselves the way we want on Lenom. Share your position, your talents, or your favorite coffee, or not.'}}}</p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        <img src='/images/discover.gif' class='pure-img'>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        <h2 class="big">{{{__ 'Neat Hashtags'}}}</h2>
        <p class="big">{{{__ 'In our profiles, we use <i class="fa fa-hashtag fa-red" aria-hidden="true"></i> hashtags to show teams, skills or interests. They power a rich and clean search experience.'}}}</p>
      </div>
    </div>
  </div>
  {{> banner}}
  <div class="pure-g">
    <div class="pure-intro pure-u-1">
      <p class="introduction tiltr">{{{__ 'Pick the best way to <strong>Reach</strong> them'}}}</p>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        <img src='/images/add.gif' class='pure-img'>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-2-3">
      <div class="grid-box">
        <h2 class="big">{{{__ 'Direct Contacts'}}}</h2>
        <p class="big">{{{__ 'We already got tons of communication tools, Lenom is just here to find the right one to contact someone.<br/>But what if the best way is to grab a coffee together?'}}}</p>
      </div>
    </div>
  </div>
  {{> banner}}
  <div class="pure-g">
    <div class="pure-intro pure-u-1">
      <p class="introduction">{{{__ 'A <strong>Demo</strong> is better than a thousand gifs'}}}</p>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-2-3">
      <div class="grid-box">
        <h2 class="big">{{{__ 'Public Demonstration'}}}</h2>
        <p class="big">{{{__ 'To show how Lenom works we invented a fake organization where Johnny Depp is an HR intern.'}}}</p>
        <p class="demo-block"><a class="demo-button pure-button" href="{{url null "demo"}}">{{{__ 'Experience the Demo'}}}</a></p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        <img src='/images/depp.gif' class='pure-img'>
      </div>
    </div>
  </div>
  {{> banner}}
  <div class="pure-g">
    <div class="pure-intro pure-u-1">
      <p class="introduction tiltf">{{{__ "Join Lenom private beta, it's safe and effortless."}}}</p>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        <h2 class="big">{{{__ 'Secure Integration'}}}</h2>
        <p class="big">{{{__ 'Lenom integrates with Google, Slack and your email domain to secure access and pre-fill profiles.'}}}</p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        <img src='/images/join.gif' class='pure-img'>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        {{> home_form}}
      </div>
    </div>
  </div>
</div>
{{> banner position='bottom'}}
