<div class="main">
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h1 id="use" class="align-center">Conditions d'Utilisation</h1>
      </div>
    </div>
  </div>
  {{> who}}
  <div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <h2>Contrat entre Vous et Nous</h2>
        <p>L’utilisation de nos Services implique l’acceptation pleine et entière des présentes. Vous êtes unique responsable de vérifier votre droit et capacité d'accepter ces présentes. Le droit d'utiliser nos Services ne peut ni être commercialisé, ni transférer, n'est pas exclusif, est révocable et limité aux seuls usages décrits ici.</p>
        <p>Tant que vous utilisez nos Services, ces Conditions d'Utilisation sont effectives. Pour ne plus utiliser nos Services, vous devez supprimer votre compte personnel (et donc toutes vos données). {{{dataRightLink 'eraseAccount' organisation user}}}</p>
        <p>Nos Conditions d’Utilisation vont évoluer dans le temps (car nos Services évoluent aussi). À chaque modification, nous vous notifions par Email.</p>
        <p>Si vous n'acceptez pas nos Conditions D'Utilisation, n'utilisez pas nos Services. Certains Services ou fonctionnalités peuvent être sujets à des Règles ou Contrats spécifiques, comme les <a href="#sell">Conditions de Vente</a> ci-dessous.</p>
        <p>Si une partie de ces Conditions d'Utilisation est reconnue invalide par la justice, cela n'invalide pas le reste. Si nous n'appliquons pas ces Conditions d'Utilisation immédiatement, cela ne les invalide pas dans le futur.</p>
        <p>Tout litige en relation avec l’utilisation de nos Services est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.</p>

        <h2>Nos Services</h2>
        <p>Les Services que nous fournissons sont le site <a href="http://wingzy.io/">wingzy.io</a>, les Apps mobiles et les APIs, mais aussi l'éventuel support et l'accompagnement par nos équipes.</p>

        <p>À quoi servent nos Services&nbsp;?</p>
        <p><strong>Vous</strong> saisissez vos données de Profil (informations d'identité, informations et liens externes de contacts, caractéristiques professionnelles et personnelles telles que vos Wings). {{{dataRightLink 'accessProfile' organisation user}}}</p>
        <p><strong>Vous</strong> cherchez <strong>vos collègues</strong> selon leurs données de Profil pour les contacter.</p>
        <p><strong>Vos Collègues</strong> et <strong>Votre Organisation</strong> vous trouvent selon vos données de Profil pour vous contacter.</p>
        <p><strong>Nous</strong> utilisons vos données de Profil pour identifier les nouveautés qui peuvent vous intéresser à propos de vos Collègues, votre Organisation et Wingzy. Nous vous envoyons ainsi un email sur mesure par mois. {{{dataRightLink 'toggleMonthly' organisation user}}}</p>

        <h2>Limites d'Utilisation</h2>
        <p>Si vous utilisez une version gratuite de nos Services, nous avons le droit de limiter ou d'interrompre, sans mise en demeure préalable, totallement ou partiellement, nos Services.</p>
        <p>Lisez aussi les <a href="#sell">Conditions de Vente</a> ci-dessous si vous utilisez une version payante de nos Services.</p>

        <h2>Notre Propriété intellectuelle</h2>
        <p>Nous sommes propriétaires des droits de propriété intellectuelle et détennons seuls les droits d’usage des Wings (Données caractéristiques anonymisées) que vous ajoutez à votre profil, des retours utilisateurs que vous nous faites, des éléments de notre identité (nom, logo, couleurs...) et de nos technologies (interface, ergonomie, code, algorithmes...).</p>
        <p>Toute reproduction, représentation, modification, distribution, adaptation, exploitation commerciale, retroingénierie, revente, de tout ou partie de nos Services, quel que soit le moyen ou le procédé utilisé, est interdite sans notre accord préalable.</p>

      </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <h2>Protection de vos Données Personnelles</h2>
        <p>Notre {{{dataRightLink 'policy' organisation user}}} explique en détail l'utilisation de vos Données à caractère personnel.</p>

        <h2>Protection de nos Services</h2>
        <p>Pour accéder à certains Services, vous devez créer un seul compte personnel dont vous êtes l'unique responsable. Vous vous engagez à ne pas partager votre compte et à nous prévenir en cas d'activité suspecte. Nous ne sommes pas responsables si votre compte personnel est utilisé à votre insu.</p>
        <p>Nos Services permettent le partage de données, notamment de liens externes, cela sans aucun contrôle de notre part. Vous êtes l'unique responsable des données que vous partagez sur nos Services, ainsi que de votre utilisation des données que vous trouvez sur nos Services. Nous ne sommes donc pas responsables des données que vous trouvez sur nos Services.</p>
        <p>Vous vous engagez à utiliser nos services avec un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour, supportant les technologies JavaScript et Cookie. Nous ne sommes pas responsables du bon fonctionnement de nos Services sur votre matériel particulier, ni des dommages matériels liés à l’utilisation de nos Services.</p>
        <p>Vous vous engagez ne pas partager sur nos Services des données volées, fausses, privées, menaçantes, haineuses ou dangereuses pour vous ou qui que ce soit. Vous vous engagez à partager sur nos Services uniquement des données que vous avez le droit de partager. Nous ne sommes pas responsables des dommages moraux ou indirects, notamment perte commerciales, liés à l’utilisation de nos Services.</p>
        <p>Vous vous engagez à ne pas utiliser nos Services pour endommager ou bloquer nos Services ou le matériel de nos Utilisateurs, ni pour accéder sans authorisations aux données de nos Utilisateurs, ni à des fins commercialles ou promotionnelles.</p>
        <p>Nos Services sont conçus pour être accessibles à tout moment. Cependant des interruptions, totales ou partielles, de certains services peuvent survenir en cas de mise à jour technique, d'incident technique ou en cas de force majeur. Nous ne conservons pas de copie de vos données et ne sommes pas responsable de leur perte en cas d'incident technique. Nous ne sommes pas responsables des dommages moraux ou indirects, notamment perte commerciales, liés à l'indisponniblité de nos Services.</p>
        <p>Nos Services sont conçus pour être accessible à tout le monde. Cependant nos Services ne sont pas conçu spécifiquement pour Vous. Vous êtes l'unique responsable de vous assurer que nos Services correspondent à vos capacités et besoins.</p>

        <h2>Nos Droits</h2>
        <p>Nous avons le droit de supprimer, sans mise en demeure préalable, toutes données ou compte de nos Services ; cela sans aucune responsabilité de notre part.</p>
        <p>Nous avons le droit d'interrompre, sans mise en demeure préalable, totallement ou partiellement, nos Services ; cela sans aucune responsabilité de notre part.</p>
        <p>Nous avons le droit de refuser totallement ou partiellement, de fournir nos Services ; cela sans aucune responsabilité de notre part.</p>
        <p>Le cas échéant, nous nous réservons également la possibilité de mettre en cause votre responsabilité civile et/ou pénale.</p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h1 id="sell" class="align-center">Conditions de Vente</h1>
        <p>Voir les définitions de Vous, Nous, Votre Organisation et Vos Collègues ci-dessus.</p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <h2>Contrat entre Vous et Nous</h2>
        <p>Les Conditions de Vente présentes s'ajoutent aux Conditions d'Utilisation ci-dessus, en aucun cas elles ne remplacent ou annulent tout ou partie des Conditions d'Utilisation, pour Vous ou vos Collègues.</p>
        <p>L’utilisation de nos Services payants implique l’acceptation pleine et entière des présentes. Vous êtes unique responsable de vérifier votre droit et capacité d'accepter ces présentes et de payer nos Services.</p>
        <p>Tant que vous payez nos Services, ces Conditions de Vente sont effectives. Pour ne plus payer nos Services, <a href="mailto:support@wingzy.io">contactez-nous.</a></p>
        <p>Nos Conditions de Vente vont évoluer dans le temps (car nos Services évoluent aussi). À chaque modification, nous vous notifions par Email.</p>
        <p>Si une partie de ces Conditions de Vente est reconnue invalide par la justice, cela n'invalide pas le reste. Si nous n'appliquons pas ces Conditions de Vente immédiatement, cela ne les invalide pas dans le futur.</p>
        <p>Tout litige en relation avec la vente de nos Services est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.</p>

      </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <h2>Nos Services Payants</h2>
        <p>Nos Services sont décrits dans les Conditions d'Utilisations ci-dessus, dans leur version payante, nos services ne sont plus soumis aux limites d'utilisation de la version gratuite. Cela s'applique à tous les utilisateurs de votre Organisation.</p>
        <p>Nos services Payants incluent de plus le support et l'accompagnement par email 5 jour sur 7, de 10h à 18h.</p>
        <h2>Facturation</h2>
        <p>Un utilisateur actif est un utilisateur de votre Organisation ayant utilisé nos Services au moins une fois ce mois.</p>
        <p><strong>Au mois</strong> Si vous faites le choix de payer nos Services chaque mois, nous facturons les utilisateurs actifs du mois précédent.</p>
        <p><strong>À l'année</strong> Si vous faites le choix de payer nos Services chaque année, nous facturons les utilisateurs actifs déclarés de l'année suivante (vous déclarez un nombre d'utilisateurs actifs prévu). En cas de dépassement, nous facturons chaque mois les utilisateurs actifs surnuméraires du mois précédent.</p>
        <p>Consultez <a href="{{url 'pricing'}}">nos Tarifs ici</a></p>
        <p>Vous pouvez régler vos factures automatiquement grâce à notre prestataire de paiement <a href="https://stripe.com/fr" target="_blank">Stripe</a>, ou par virement SEPA.</p>
        <p>En cas de refus ou d'interruption de nos Services, nous vous rembourserons au prorata de la période d'utilisation, le mois en cours ne sera pas remboursé.</p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <p>Merci d'avoir lu nos Conditions d'Utilisations et nos Conditions de Vente. En cas de besoin, n'hésitez pas à <a href="mailto:support@wingzy.io">nous contacter</a>.</p>
        <p>Cette page est <a target="_blank" title="CC BY-SA 4.0" href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">open source</a>, merci à <a target="_blank" href="https://www.subdelirium.com/generateur-de-mentions-legales/" alt="Modèle de mentions légales">Subdelirium</a> pour le coup de main.</p>
      </div>
    </div>
  </div>
</div>
